$primary-color: rgb(19, 62, 147);
$secondary-color: rgb(28, 103, 194);
$gold-color: #c59a00;
$gold-color-light: rgb(219, 172, 1);
$gold-color-light-2: rgb(219, 193, 100);
$gold-color-light-3: rgb(254, 239, 158);
$gold-color-light-4: #E6C854;

@font-face {
  font-family: FuturaPT-Book;
  src: url('../font/FuturaPTBook.otf');
}
@font-face {
  font-family: FuturaPT-Book;
  src: url('../font/FuturaPTLight.otf');
}
@font-face {
  font-family: FuturaPT-Bold;
  src: url('../font/FuturaPTBold.otf');
}
@font-face {
  font-family: FuturaPT-Medium;
  src: url('../font/FuturaPTMedium.otf');
}
@font-face {
  font-family: FuturaPT-Demi;
  src: url('../font/FuturaPTDemi.otf');
}
@font-face {
  font-family: Poppins-Medium;
  src: url('../font/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url('../font/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: Poppins-Regular;
  src: url('../font/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-Bold;
  src: url('../font/Poppins-Bold.ttf');
}

$media-query: (
    fourk,
    (
      min-width: 2560px,
    )
  ),
  (
    twok,
    (
        min-width: 1920px,
      )
      // and
      // (
      //   max-width: 2559px,
      // )
  ),
  (
    wide,
    (
      min-width: 1441px,
    )
  ),
  (
    laptop,
    (
      min-width: 1024px,
    )
    and
      (
        max-width: 1200px,
      )
  ),
  (
    tablet,
    (
        min-width: 768px,
      )
      and
      (
        max-width: 991px,
      )
  ),
  (
    mobile,
    (
      max-width: 767px,
    )
  ),
  (
    small-mobile,
    (
      max-width: 360px,
    )
  );
