.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  font-weight: 600;

  &__top {
    width: 100%;
    min-height: 85%;
    background-color: #f6f5f1;
    border-top: 2px solid $gold-color;
    padding: 30px 120px;
    @include breakpoint(fourk) {
      padding: 30px 520px;
    }
    @include breakpoint(twok) {
      padding: 30px 320px;
    }
    @include breakpoint(laptop) {
      padding: 30px 60px;
    }
    @include breakpoint(tablet) {
      padding: 30px 100px;
    }
    @include breakpoint(mobile) {
      padding: 20px;
    }

    .footer-content {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 0.98fr 0.6fr 1fr 2fr;
      

      @include breakpoint(laptop) {
        grid-template-columns: 1.5fr 1fr 1.5fr 2fr;
      }
      @include breakpoint(tablet) {
        display: flex;
        flex-direction: column-reverse;
      }
      @include breakpoint(mobile) {
        display: flex;
        flex-direction: column-reverse;
      }

      .list-icon-footer {
        @include breakpoint(tablet) {
          order: 3;
        }
        @include breakpoint(mobile) {
          order: 3;
        }
      }
      .list-informasi {
        li {
          @include breakpoint(tablet) {
            display: inline;
            font-size: 14px;
            margin-right: 15px;
          }
          @include breakpoint(mobile) {
            display: inline;
            font-size: 16px;
            margin-right: 20px;
          }
          a {
            transition: all 0.2s;
            font-weight: 600;
            &:hover {
              color: $primary-color;
              text-decoration: underline;
            }
          }
        }
        @include breakpoint(tablet) {
          order: 1;
          margin-bottom: 20px;
        }
        @include breakpoint(mobile) {
          order: 1;
          margin-bottom: 20px;
        }
      }
      .list-subscribe {
        @include breakpoint(tablet) {
          order: 3;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          margin-bottom: 40px;
        }
        @include breakpoint(mobile) {
          order: 3;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          margin-bottom: 40px;
        }
      }
      &__list {
        min-width: 25%;
        margin-right: 20px;
        @include breakpoint(tablet) {
          margin-bottom: 10px;
          margin-right: 0;
          width: 100%;
        }
        @include breakpoint(mobile) {
          margin-bottom: 10px;
          margin-right: 0;
          width: 100%;
        }
        &:last-child {
          margin-right: 0;
        }

        .check-socmed {
          display: flex;
          width: 100%;
          margin-bottom: 20px;
          @include breakpoint(tablet) {
            justify-content: center;
          }
          @include breakpoint(mobile) {
            justify-content: center;
            margin: 20px 0 28px 0;
          }

          &__icon {
            margin-right: 20px;
            img {
              transition: all 0.2s;
              filter: invert(51%) sepia(79%) saturate(1097%) hue-rotate(19deg)
                brightness(98%) contrast(103%);
            }
            &:hover {
              img {
                filter: none;
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .office-location {
          font-size: 14px;

          a{

            
            img {
              width: 70%;
            }
            @include breakpoint(tablet) {
              display: flex;
              justify-content: center;
              margin: 10px 0;
              img {
                width: 60%;
              }
            }
            @include breakpoint(mobile) {
              display: flex;
              justify-content: center;
              margin-bottom: 40px;
              img {
                width: 60%;
              }
            }
          }
        }

        h3 {
          font-size: 24px;
          font-weight: 500;
          font-family: FuturaPT-Medium;
          color: $primary-color;
          margin-bottom: 20px;
          text-transform: uppercase;
          @include breakpoint(tablet) {
            border-top: 1px solid $gold-color;
            border-bottom: 1px solid $gold-color;
            padding: 10px 0;
            font-size: 18px;
          }
          @include breakpoint(mobile) {
            border-top: 1px solid $gold-color;
            border-bottom: 1px solid $gold-color;
            padding: 10px 0;
            font-size: 18px;
          }
        }

        ul {
          list-style: none;

          li {
            font-size: 16px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            img {
              margin-right: 5px;
            }

            a {
              color: black;
              text-decoration: none;

              &:link,
              &:visited {
                color: black;
              }
            }
          }
        }

        .subscribe-box {
          background-color: #fff;
          height: 100%;
          padding: 20px;

          @include breakpoint(tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            height: 200px;
          }
          @include breakpoint(mobile) {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            height: 250px;
          }

          &__title {
            font-size: 20px;
            font-weight: 500;
            font-family: FuturaPT-Medium;
            color: $primary-color;
            margin-bottom: 20px;
            text-transform: uppercase;
            @include breakpoint(tablet) {
              text-align: center;
            }
            @include breakpoint(mobile) {
              text-align: center;
            }
          }

          &__input {
            border: 1px solid silver;
            padding: 10px 8px;
            width: 100%;

            input {
              width: 65%;
              font-size: 16px;
              border: none;
              outline: none;
              @include breakpoint(tablet) {
                width: 100%;
              }
              @include breakpoint(mobile) {
                width: 100%;
              }
            }

            .btn-subscribe-email {
              width: 30%;
              font-size: 12px;
              padding: 10px 5px;

              @include breakpoint(tablet) {
                position: absolute;
                bottom: 30px;
                right: 150px;
                width: 50%;
              }
              @include breakpoint(mobile) {
                position: absolute;
                bottom: 30px;
                right: 90px;
                width: 50%;
              }
              @include breakpoint(small-mobile) {
                position: absolute;
                bottom: 30px;
                right: 70px;
                width: 50%;
              }
            }
          }
        }
      }
    }

    .for-up {
      width: 100%;
      // padding: 15px 0;
      position: relative;
      @include breakpoint(tablet) {
        display: flex;
        justify-content: center;
        padding: 15px 0;
      }
      @include breakpoint(mobile) {
        display: flex;
        justify-content: center;
        padding: 15px 0;
      }
      .btn-goup {
        padding: 10px 15px;
        position: absolute;
        right: 0;
        bottom: 0;

        @include breakpoint(tablet) {
          float: none;
          position: relative;
          right: auto;
          margin-top: 0px;
        }
        @include breakpoint(mobile) {
          float: none;
          position: relative;
          right: auto;
          margin-top: 0px;
        }
      }
    }
  }

  &__bottom {
    background-color: #143f94;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 16px;
      color: #fff;
    }
  }
}
