.header {
  background-color: white;
  height: 65px;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  padding: 0 120px;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  @include breakpoint(fourk) {
    padding: 0 520px 0px 540px;
  }
  @include breakpoint(twok) {
    padding: 0px 320px;
  }
  @include breakpoint(laptop) {
    padding: 0px 5vh;
  }

  @include breakpoint(tablet) {
    padding: 20px;
    justify-content: center;
  }
  @include breakpoint(mobile) {
    padding: 20px;
    justify-content: center;
  }

  .logo {
    height: 48px;
    margin-right: 20px;
    @include breakpoint(tablet) {
      margin: 0;
    }
    @include breakpoint(mobile) {
      margin: 0;
    }
    img {
      height: 100%;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    min-width: 25%;
    margin-right: auto;
    align-self: stretch;

    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(mobile) {
      display: none;
    }
    .link-nav {
      color: $primary-color;
      font-size: 16px;
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: all 0.2s;
      border-bottom: 3px solid transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-family: FuturaPT-Medium;
      margin: 0 10px;
      &:link,
      &:visited {
        color: $primary-color;
      }

      &:hover {
        color: $gold-color;
        border-bottom: 3px solid $gold-color;
      }
    }
  }

  .profile {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    text-transform: uppercase;
    position: relative;
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(mobile) {
      display: none;
    }

    .akun-dropdown {
      display: flex;
      align-items: center;
      cursor: pointer;
      .arr-drop-akun {
        background-image: url('../img/28. ARROW@2x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 15px;
        height: 15px;
        margin-left: 10px;
        transform: scale(-1);
        transition: all 0.2s;
      }
      .arr-drop-flip {
        transform: scale(1);
      }
    }

    .dropdown-myprofile {
      background-color: #fff;
      min-height: auto;
      margin-top: 65px;
      float: right;
      position: absolute;
      right: -50px;
      top: 0px;
      width: 320px;

      .list-drop {
        padding: 15px;
        width: 100%;
        display: flex;
        border-bottom: 1px solid silver;
        align-items: center;
        text-decoration: none;
        cursor: pointer;

        &:last-child {
          border: none;
        }

        &__img {
          width: 25px;
          height: 25px;
          margin-right: 15px;

          img {
            height: 100%;
          }
        }

        &__name {
          text-transform: uppercase;
          text-decoration: none;
          color: $primary-color;
          font-weight: 600;
        }
      }
    }

    &__img {
      background-image: url('../img/REGISTER@3x.png');
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &__akun {
      color: $primary-color;
      font-size: 16px;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 500;
      font-family: FuturaPT-Medium;
      &:link,
      &:visited {
        color: $primary-color;
      }
    }

    &__decor {
      height: 50px;
      width: 10px;
      background-image: url('../img/Path 1@2x.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .btn-search {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: $primary-color;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: $gold-color;
    }
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }
  .btn-close-search {
    width: 40px;
    height: 40px;
    color: $secondary-color;
    background-color: transparent;
    font-size: 35px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: $gold-color;
    }
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }

  .btn-nav-respon {
    &__checkbox {
      display: none;
    }

    &__button {
      cursor: pointer;
      position: absolute;
      right: 25px;
      top: 18px;
    }

    &__icon-clicked {
      position: relative;
      margin-top: 3px;
      display: none;

      width: 22px;
      height: 22px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
      // &::before,
      // &::after {
      //   width: 20px;
      //   height: 2px;
      //   background-color: $primary-color;
      //   display: inline-block;
      // }

      // &::before,
      // &::after {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      // }

      // &::before {
      //   transform: rotate(135deg);
      // }
      // &::after {
      //   transform: rotate(-135deg);
      // }
    }

    &__icon {
      position: relative;
      // margin-right: -10px;

      width: 30px;
      height: 30px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
      // &,
      // &::before,
      // &::after {
      //   width: 20px;
      //   height: 2px;
      //   background-color: $primary-color;
      //   display: inline-block;
      // }

      // &::before,
      // &::after {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   transition: all 0.2s;
      // }

      // &::before {
      //   top: -8px;
      // }
      // &::after {
      //   top: 8px;
      // }
    }
  }
}

.overlay-backsearch {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 97;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  transition: all 0.3s;
  opacity: 0;


  &__search-box {
    background-color: #fff;
    height: 64px;
    width: 100%;
    padding: 0px 120px;
    margin-top: 65px;

    .search-part {
      width: 100%;
      display: flex;
      height: 100%;
      align-items: center;
      border-bottom: 2px solid $gold-color;
      padding: 5px 0;
      justify-content: space-between;

      .icon-search {
        // height: 50px;
      }

      .search-input {
        width: 85%;
        height: 100%;
        outline: none;
        border: none;
        font-size: 20px;

        &::placeholder {
          color: silver;
        }
      }

      .btn-submit-search {
        padding: 0px 30px;
        height: 38px;
      }
    }
  }
}

@keyframes animateSearch{
  0%{
    opacity: 0;
  }

  50%{
    opacity: 0.5%;
  }

  100%{
    opacity: 1;
  }
}


.responsive-header {
  position: fixed;
  z-index: 97;
  margin-top: 65px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;

  .responsive-box {
    .nav-box {
      background-color: #fff;
      width: 100%;
      padding: 20px;
      @include breakpoint(tablet) {
        padding: 20px 120px;
        height: auto;
      }
      @include breakpoint(mobile) {
        padding: 30px;
        height: auto;
      }

      .search-bar-respond {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        padding: 0px 0;
        height: 50px;
        img {
          position: absolute;
          left: 0;
          bottom: 10px;
          
          
        }
        .search-input-respond {
          width: 40%;
          outline: none;
          border: none;
          margin-right: 5px;
          transition: all 0.2s;
          position: absolute;
          font-size: 20px;
          margin-bottom: -5px;

          &:focus {
            width: 70%;

            & + button{
              display: block;
            }
          }
        }

        .btn-submit-cari-responsive {
          padding: 5px;
          font-size: 10px;
          position: absolute;
          right: 0;
          display: none;
        }
      }
      &__list {
        padding: 14px 0;
        border-bottom: 1px solid $gold-color;

        .search-input-respond {
          width: 30%;
        }
        .link-nav-respond {
          font-size: 20px;
          text-decoration: none;
          color: $primary-color;
          font-weight: 600;
          text-transform: uppercase;

          &:link,
          &:visited {
            color: $primary-color;
          }
        }
      }
    }


    .ontop {
      border-top-color: transparent;
      min-height: 70vh;
    }
    .onbottom {
      align-items: flex-start;
      min-height: 100px;
      padding: 10px 0;
    }
    
    .office-location {
      margin-bottom: 40px;
      // font-size: 14px;
      order: 2;
      a{

            text-align: center;
        img {
          width: 50%;
        }
        @include breakpoint(tablet) {
          display: flex;
          justify-content: center;
          margin: 10px 0;
          img {
            width: 60%;
          }
        }
        @include breakpoint(mobile) {
          display: flex;
          justify-content: center;
          margin: 10px 0;
          img {
            width: 70%;
          }
        }
      }
    }
    .footer-content__list {
      h3 {
        // border: none;
        // padding: 0;
        margin-bottom: 10px;
      }
    }
  }
}
