.btn-gold {
  background-color: $gold-color;
  border: 1px solid $gold-color;
  border-radius: 0;
  text-transform: uppercase;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 1.5px;
  font-family: FuturaPT-Demi;
  // font-weight: 500;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  &:link,
  &visited {
    color: #fff;
  }

  &:disabled {
  }

  &:hover {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    text-decoration: none;
    color: #fff;
  }
}
.btn-gold-transparent {
  background-color: transparent;
  border: 1px solid $gold-color;
  border-radius: 0;
  text-transform: uppercase;
  color: $gold-color;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  letter-spacing: 1px;
  font-family: FuturaPT-Demi;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  font-size: 14px;
  &:link,
  &visited {
    color: $gold-color;
  }

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
    text-decoration: none;
    background-color: rgba($primary-color, 0.05);
  }
}

.poin-badge {
  background-color: $gold-color-light-3;
  border: 2px solid $gold-color-light;
  border-radius: 100px;
}

.slick-previous {
  width: 45px;
  height: 45px;

  position: absolute;
  z-index: 10;
  @include breakpoint(mobile) {
    width: 40px;
    height: 40px;
  }

  &--position-tentang {
    transform: translateX(0px) translateY(0px);
    @include breakpoint(tablet) {
      transform: translateX(-5px) translateY(0px);
    }
    @include breakpoint(mobile) {
      transform: translateX(-10px) translateY(0px);
    }
  }

  &--position {
    transform: translateX(120px) translateY(-80px);
    @include breakpoint(tablet) {
      transform: translateX(40px) translateY(-80px);
    }
    @include breakpoint(mobile) {
      transform: translateX(10px) translateY(-80px);
    }
  }

  &--position-artikel {
    transform: translateX(20px) translateY(-100px);
    @include breakpoint(tablet) {
      transform: translateX(20px) translateY(-80px);
    }
    @include breakpoint(mobile) {
      transform: translateX(6px) translateY(-60px);
    }
  }
}
.slick-nexter {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  z-index: 10;
  @include breakpoint(mobile) {
    width: 40px;
    height: 40px;
  }

  &--position-tentang {
    transform: translateX(0px) translateY(0px);
    @include breakpoint(tablet) {
      transform: translateX(0px) translateY(0px);
    }
    @include breakpoint(mobile) {
      transform: translateX(10px) translateY(0px);
    }
  }

  &--position {
    transform: translateX(-120px) translateY(-80px);
    top: 0;

    @include breakpoint(tablet) {
      transform: translateX(-40px) translateY(-80px);
    }
    @include breakpoint(mobile) {
      transform: translateX(-10px) translateY(-80px);
    }
  }
  &--position-catalog {
    transform: translateX(-120px) translateY(-80px);
    top: 0;

    @include breakpoint(tablet) {
      transform: translateX(-40px) translateY(-80px);
    }
    @include breakpoint(mobile) {
      transform: translateX(-10px) translateY(-80px);
    }
  }
  &--position-undian-stamp {
    transform: translateX(-120px) translateY(-80px);
    top: 0;

    @include breakpoint(tablet) {
      transform: translateX(-40px) translateY(-60px);
    }
    @include breakpoint(mobile) {
      transform: translateX(-10px) translateY(-60px);
    }
  }
  &--position-pemenang {
    transform: translateX(-120px) translateY(-80px);
    top: 0;

    @include breakpoint(tablet) {
      transform: translateX(-40px) translateY(-80px);
    }
    @include breakpoint(mobile) {
      transform: translateX(-10px) translateY(-80px);
    }
  }
  &--position-artikel {
    transform: translateX(0px) translateY(-100px);
    top: 0;

    @include breakpoint(tablet) {
      transform: translateX(0px) translateY(-80px);
    }
    @include breakpoint(mobile) {
      transform: translateX(-5px) translateY(-60px);
    }
  }
  &--position-product {
    transform: translateX(-120px) translateY(-80px);
    top: 0;

    @include breakpoint(tablet) {
      transform: translateX(-40px) translateY(-80px);
    }
    @include breakpoint(mobile) {
      transform: translateX(-10px) translateY(-80px);
    }
  }
  &--position-mission {
    transform: translateX(-120px) translateY(-80px);
    top: 0;

    @include breakpoint(tablet) {
      transform: translateX(-40px) translateY(-80px);
    }
    @include breakpoint(mobile) {
      transform: translateX(-10px) translateY(-80px);
    }
  }
  &--position-relate-produk {
    transform: translateX(-120px) translateY(-80px);
    top: 0;

    @include breakpoint(tablet) {
      transform: translateX(-40px) translateY(-80px);
    }
    @include breakpoint(mobile) {
      transform: translateX(-10px) translateY(-80px);
    }
  }
}

.carousel-socmed button.slick-previous.slick-previous--position.btn-gold.slick-arrow, .carousel-socmed button.slick-nexter.slick-nexter--position.btn-gold.slick-arrow {
  top: 50% !important;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

// .slick-socmed {
//   width: 45px;
//   height: 45px;
//   top: 0;
//   &--left {
//     transform: translateX(120px) translateY(-85px);

//     @include breakpoint(tablet) {
//       transform: translateX(40px) translateY(-110px);
//     }
//     @include breakpoint(mobile) {
//       transform: translateX(0px) translateY(180px);
//     }
//   }
//   &--right {
//     transform: translateX(-120px) translateY(-85px);

//     @include breakpoint(tablet) {
//       transform: translateX(-40px) translateY(-110px);
//     }
//     @include breakpoint(mobile) {
//       transform: translateX(0px) translateY(180px);
//     }
//   }
// }

.arr-left {
  position: absolute;
  top: 100px;
  left: 130px;
  background-color: transparent;
  // color: #fff;
  border: none;
  outline: none;
  font-size: 34px;
  cursor: pointer;
  font-weight: bold;
  background-image: url('../img/26. M_ICON BACK@3x.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 24px;
  @include breakpoint(mobile) {
    width: 21px;
    height: 14px;
  }

  &--blue {
    color: $primary-color;
    font-weight: bold;
    background-image: url('../img/26. M_ICON BACK@3xBlue.png');
  }
}

.close-popup {
  color: $gold-color;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.filter-or-sort {
  margin: 30px 0;
  background-color: #fff;
  border: 1px solid $primary-color;
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  @include breakpoint(mobile) {
    width: 100%;
    margin: 10px 0;
  }

  .filter-btn {
    padding: 10px 20px;
    border-right: 1px solid $primary-color;
    cursor: pointer;
    font-weight: 600;
    @include breakpoint(mobile) {
      width: 100%;
      text-align: center;
    }
  }
  .sort-btn {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    @include breakpoint(mobile) {
      width: 100%;
      text-align: center;
    }
  }
}

.kategori-cari {
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid $primary-color;
  min-width: 30%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  .change-kat-s {
    padding: 10px 20px;
    border-right: 1px solid $primary-color;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    transition: all 0.2s;
    &:last-child {
      border-right: none;
    }
  }

  .active-kat-cari {
    color: $gold-color;
  }
}

.category-tissue {
  margin: 60px 0 20px 0;
  background-color: #fff;
  border: 1px solid $primary-color;
  width: auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &__btn {
    padding: 10px 20px;
    border-right: 1px solid $primary-color;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s all;

    &:last-child {
      border-right: none;
    }
  }

  .active-kat {
    color: $gold-color;
  }
}

.arrow-drop {
  background-image: url('../img/28. ARROW@2x.png');
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: all 0.2s;
  transform: scaleY(-1);
}

.fliped-arr {
  transform: scaleY(1);
}

.expand-plus {
  background-image: url('../img/plus@3x.png');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: all 0.2s;
}
.minimize-min {
  background-image: url('../img/31. ICON MINUS@3x.png');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: all 0.2s;
}
