.slick-slide {
  outline: none;
}

///////////////////////////////////////CAROUSEL HERO
.hero-section {
  box-sizing: border-box;
  padding-top: 49px;
  // @include breakpoint(fourk) {
  //   padding-left:22vh;
  //   padding-right: 22vh;
  // }

  .home-carousel {
    width: 100%;
    @include breakpoint(fourk) {
      padding-left: 30vh;
      padding-right: 30vh;
    }

    .slick-previous {
      &--position-home {
        transform: translateY(30vh);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      }
    }
    .slick-nexter {
      &--position-home {
        top: 0;
        transform: translateY(30vh);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      }
    }
    .slick-dots {
      height: auto;
      margin-top: -60px;
      position: relative;
      @include breakpoint(mobile) {
        margin-top: -60px;
      }

      .slick-active {
        background-color: $primary-color;
      }

      li {
        border: 1px solid $primary-color;
        width: 12px;
        height: 12px;
        border-radius: 50%;

        button{
          display: none;
        }
      }
    }

    .items-banner {
      height: 550px;
      position: relative;
      @include breakpoint(twok) {
        height: 650px;
      }
      a {
        width: 80%;
      }

      img {
        z-index: 0;
        height: 100%;
        width: 100%;

        @include breakpoint(tablet) {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        @include breakpoint(mobile) {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      @include breakpoint(tablet) {
        height: 400px;
      }
      @include breakpoint(mobile) {
        height: 500px;
      }

      .content-banner {
        position: absolute;
        top: 0;
        left: 120px;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: max-content;
        width: 45%;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 40px;
        @include breakpoint(fourk) {
          top: 0;
          left: 120px;
          bottom: 0;
          margin-top: auto;
          margin-bottom: auto;
          width: 40%;
        }
        @include breakpoint(twok) {
          top: 0;
          left: 120px;
          bottom: 0;
          margin-top: auto;
          margin-bottom: auto;
          width: 40%;
        }
        @include breakpoint(tablet) {
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          left: 0;
          // top: 0;
          bottom: 0;
          right: 0;
          width: 80%;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 20px;
        }
        @include breakpoint(mobile) {
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: 0;
          left: 0;
          // top: 0;
          bottom: 60px;
          right: 0;
          width: 90%;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 20px;
        }

        span {
          color: $primary-color;
          font-family: Poppins-Regular;
          font-weight: 600;
          @include breakpoint(tablet) {
            font-size: 14px;
          }
          @include breakpoint(mobile) {
            font-size: 14px;
          }
        }

        h3 {
          font-size: 38px;
          margin-bottom: 10px;
          font-family: Poppins-Bold;
          color: $primary-color;

          @include breakpoint(tablet) {
            font-size: 28px;
            margin-bottom: 5px;
          }
          @include breakpoint(mobile) {
            font-size: 20px;
            margin-bottom: 5px;
          }
        }

        p {
          font-size: 16px;
          margin-bottom: 20px;
          font-family: Poppins-Regular;
          color: #000;
          @include breakpoint(tablet) {
            font-size: 18px;
            width: 90%;
          }
          @include breakpoint(mobile) {
            font-size: 12px;
            width: 90%;
          }
        }

        &__btn {
          font-size: 14px;
          padding: 13px 20px;
          width: max-content;
          @include breakpoint(tablet) {
            // margin-top: 20px;
          }
          @include breakpoint(mobile) {
            font-size: 14px;
            // margin-top: 90px;
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

///////////////////////////////////////CAROUSEL PRODUCT
.section-carousel-product {
  width: 100%;
  height: auto;
  // display: flex;
  // @include breakpoint(fourk) {
  //   padding: 30px 520px;
  // }
  padding-bottom: 100px;
  @include breakpoint(mobile) {
    margin-bottom: 0;
    padding-bottom: 40px;
  }

  .cardp {
    margin: 0 10px;
    padding-top: 150px;
    // padding-bottom: 50px;
    height: auto;
    width: 360px;
    flex: 1;

    @include breakpoint(wide) {
      font-size: 20px;
      height: auto;
    }
    @include breakpoint(tablet) {
      height: auto;
      padding-top: 100px;
      width: 240px;
    }
    @include breakpoint(mobile) {
      height: auto;
      margin: 0 5px;
      padding-top: 70px;
      width: 180px;
    }

    &:first-child {
      padding-left: 0;
    }

    .color-nice {
      background-image: radial-gradient(rgb(255, 136, 0), rgb(201, 108, 1));
    }
    .color-jolly {
      background-image: radial-gradient(rgb(201, 0, 118), rgb(139, 0, 81));
    }
    .color-toply {
      background-image: radial-gradient(rgb(0, 166, 93), rgb(0, 119, 67));
    }

    &__desc {
      width: 100%;
      min-height: 300px;
      background-image: radial-gradient(#138afa, #1e55c5);
      text-align: center;
      padding-top: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 6px 30px 6px;
      align-self: stretch;
      text-decoration: none;
      outline: none;

      &:link,
      &:visited {
        color: currentColor;
      }
      @include breakpoint(wide) {
        padding-bottom: 20px;
      }
      @include breakpoint(tablet) {
        // padding-top: 70px;
        padding-bottom: 20px;
      }
      @include breakpoint(mobile) {
        // padding-top: 70px;
        padding-bottom: 8px;
        min-height: max-content;
      }

      .cardp__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        // background-color: red;
        height: 100px;
        position: relative;
        @include breakpoint(tablet) {
          height: 100px;
        }
        @include breakpoint(mobile) {
          height: 50px;
        }
        img {
          position: absolute;
          top: 0;
          margin-top: -100px;
          // height: 350px;
          width: 300px;
          object-fit: contain;

          @include breakpoint(laptop) {
            // height: 230px;
            width: 240px;
            // margin-top: -100px;
          }
          @include breakpoint(tablet) {
            height: 230px;
            width: 230px;
            margin-top: -100px;
          }
          @include breakpoint(mobile) {
            height: 150px;
            width: 150px;
            margin-top: -80px;
          }
        }
      }

      h4 {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: uppercase;
        // letter-spacing: 1px;
        min-height: 45px;
        font-family: FuturaPT-Medium;
        @include breakpoint(wide) {
          font-size: 24px;
        }
        @include breakpoint(mobile) {
          font-size: 16px;
        }
      }

      p {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        width: 70%;
        margin-bottom: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        letter-spacing: 0.5px;
        font-family: FuturaPT-Book;
        @include breakpoint(wide) {
          font-size: 20px;
        }
        @include breakpoint(mobile) {
          font-size: 12px;
          width: 100%;
          margin-bottom: 15px;
          // height: 50px;
          -webkit-line-clamp: 2;
        }
      }
      .btn-lihat-produk {
        padding: 0px 30px;
        font-size: 14px;
        // margin-top: 25px;
        height: 46px;
        display: flex;
        align-items: center;
        @include breakpoint(mobile) {
          padding: 8px;
          font-size: 10px;
          height: auto;
        }
      }
    }
  }
}

///////////////////////////////////////CAROUSEL CATALOG
.carousel-catalog {
  margin: 100px 0;
  width: 100%;
  // display: flex;
  height: auto;

  .card-catalog {
    padding: 10px 12.5px 20px 12.5px;
    // display: flex;

    @include breakpoint(tablet) {
      padding: 10px 7.5px 20px 7.5px;
    }
    @include breakpoint(mobile) {
      padding: 10px 5px 20px 5px;
    }

    &__body {
      min-height: 360px;
      display: flex;
      background-color: #fff;
      box-shadow: 0px 5px 20px rgba(110, 110, 110, 0.3);
      flex-direction: column;
      align-items: center;
      text-align: center;
      // width: 330px;
      padding: 30px 20px;
      text-decoration: none;
      outline: none;
      flex: 1;

      &:link,
      &:visited {
        color: currentColor;
      }
      @include breakpoint(tablet) {
        height: auto;
        padding: 20px 0px;
      }
      @include breakpoint(mobile) {
        min-height: 220px;
        padding: 10px 5px;
      }

      &__img {
        display: flex;
        justify-content: center;
        height: 170px;
        width: 90%;
        @include breakpoint(tablet) {
          width: 100%;
        }
        @include breakpoint(mobile) {
          width: 100%;
          height: 100px;
        }

        img {
          object-fit: contain;
          object-position: center;
          width: 90%;
          @include breakpoint(tablet) {
            width: 90%;
          }
          @include breakpoint(mobile) {
            width: 90%;
          }
        }
      }

      &__desc {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @include breakpoint(mobile) {
          margin-top: auto;
        }

        h4 {
          font-size: 20px;
          font-weight: 500;
          font-family: FuturaPT-Medium;
          text-transform: uppercase;
          color: $primary-color;

          @include breakpoint(mobile) {
            font-size: 14px;
          }
        }
        .poin-badge--size {
          margin-top: 40px;
          width: 80%;
          padding: 3px 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          @include breakpoint(mobile) {
            margin-top: 20px;
          }

          .koin {
            position: absolute;
            left: 0;
            margin-left: -10px;
            height: 40px;
            width: 40px;
            background-image: url('../img/money.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include breakpoint(mobile) {
              height: 30px;
              width: 30px;
              margin-left: -8px;
            }
          }
          .poin-number {
            margin-left: 20px;
            color: $primary-color;
            font-size: 18px;
            @include breakpoint(mobile) {
              font-size: 14px;
            }
          }
        }
      }
    }

    &:first-child {
      // padding-left: 0;
    }
  }
}

///////////////////////////////////////CAROUSEL ARTIKEL
.carousel-artikel {
  width: 100%;
  margin-top: 40px;
  // display: flex;
  @include breakpoint(mobile) {
    margin-top: 0;
  }

  .card-artikel {
    padding-left: 20px;
    width: 360px;
    @include breakpoint(mobile) {
      padding-left: 5px;
      padding-right: 5px;
    }
    &:hover{

      h5{
        color: $primary-color;
        text-decoration: underline;
      }
    }

    &__body {
      min-height: 400px;
      outline: none;
      text-decoration: none;
      color: currentColor;

      &:link,
      &:visited {
        color: currentColor;
      }
      @include breakpoint(mobile) {
        min-height: 200px;
      }

      &__img {
        background-color: #eee;
        height: 220px;
        width: 100%;
        overflow: hidden;

        @include breakpoint(tablet) {
          height: 120px;
        }
        @include breakpoint(mobile) {
          height: 120px;
        }

        img {
          object-fit: cover;
          object-position: center;
          height: 100%;
          width: 100%;
        }
      }

      &__desc {
        padding: 20px;
        @include breakpoint(tablet) {
          padding: 10px 0;
        }
        @include breakpoint(mobile) {
          padding: 10px 0;
        }

        span {
          text-transform: uppercase;
          color: $primary-color;
          font-size: 16px;
          font-weight: 500;
          font-family: FuturaPT-Medium;

          @include breakpoint(tablet) {
            font-size: 14px;
          }
          @include breakpoint(mobile) {
            font-size: 10px;
          }
        }

        h5 {
          margin-top: 10px;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 500;
          font-family: FuturaPT-Medium;
          transition: all 0.2s;

          @include breakpoint(tablet) {
            font-size: 16px;
          }
          @include breakpoint(mobile) {
            font-size: 13px;
            margin-top:0;
          }
        }
      }
    }
  }
}

///////////////////////////////////////CAROUSEL SOCMED
.carousel-socmed {
  padding: 20px 0px;
  // display: flex;

  @include breakpoint(tablet) {
    padding: 20px 0px;
  }
  @include breakpoint(mobile) {
    padding: 20px 0px;
  }

  .card-socmed {
    padding: 0 10px 0 10px;
    @include breakpoint(mobile) {
      padding: 0 5px;
    }
    &__body {
      min-height: 360px;

      &__img {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
      @include breakpoint(laptop) {
        min-height: max-content;
      }
      @include breakpoint(tablet) {
        min-height: max-content;
      }
      @include breakpoint(mobile) {
        min-height: max-content;
      }
    }
  }
}

/////////////////////////////// CAROUSEL MISSON

.section-carousel-mission {
  width: 100%;
  min-height: 500px;
  padding: 40px 120px;
  background-color: #eee;
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(twok) {
    padding: 50px 320px;
  }
  @include breakpoint(mobile) {
    padding: 20px 15px;
  }

  .carousel-mission {
    // display: flex;
    width: 100%;
    border-bottom: 2px solid $gold-color;

    &__cards {
      padding: 20px 15px 100px 15px;
      height: auto;
      display: flex;

      @include breakpoint(mobile) {
        padding: 20px 10px;
      }
      &__body {
        background-color: #fff;
        box-shadow: 0 0 20px rgba(110, 110, 110, 0.3);
        // width: 300px;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 450px;
        @include breakpoint(fourk) {
          min-height: 550px;
        }
        @include breakpoint(tablet) {
          min-height: 450px;
        }
        @include breakpoint(mobile) {
          min-height: 450px;
        }

        &__img {
          width: 100%;
          min-height: 130px;
          @include breakpoint(fourk) {
            min-height: 200px;
          }
          @include breakpoint(tablet) {
            min-height: 90px;
          }
          @include breakpoint(mobile) {
            min-height: 100px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }

        .bottom-card {
          display: flex;
          flex-direction: column;
          padding: 20px;
          text-align: center;
          align-items: center;
          height: 100%;
          @include breakpoint(fourk) {
            padding: 30px 50px;
          }

          &__title {
            text-transform: uppercase;
            color: $primary-color;
            font-weight: 500;
            font-family: FuturaPT-Medium;
            width: 80%;
            margin-bottom: 20px;
            height: 50px;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include breakpoint(tablet) {
              width: 100%;
              height: 75px;
            }
            @include breakpoint(mobile) {
              width: 100%;
            }
          }

          &__desc {
            font-weight: 600;
            margin-bottom: auto;
            // height: 65px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @include breakpoint(fourk) {
              height: 65px;
            }
          }

          &__box-progress {
            width: 100%;
            height: auto;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include breakpoint(fourk) {
              margin-bottom: auto;
            }

            .label-progress {
              font-size: 13px;
              margin-bottom: 10px;
            }

            .progress-bar-frame {
              width: 100%;
              height: 20px;
              display: flex;
              position: relative;
              border-radius: 20px;
              overflow: hidden;

              .full-number {
                position: absolute;
                right: 8px;
                color: #fff;
                font-size: 10px;
                top: 3px;
              }

              &__bar {
                overflow: hidden;
                margin-left: 1px;
                display: flex;
                flex: 1;
                height: 100%;
                background-color: #777;

                &__fill {
                  background-color: $gold-color-light-2;
                }
                &:first-child {
                  border-radius: 20px 0 0 20px;
                  margin-left: 0;
                }
                &:last-child {
                  border-radius: 0 20px 20px 0;
                }
              }
            }
          }

          &__btn {
            width: 80%;
            padding: 10px;
            margin-top: auto;
            @include breakpoint(tablet) {
              margin-top: auto;
            }
            @include breakpoint(mobile) {
              margin-top: auto;
            }
          }
        }
      }
    }
  }
}

///////////////////////////////////////CAROUSEL PEMENANG UNDIAN
.carousel-pemenang-undian {
  margin: 100px 0;
  width: 100%;
  // display: flex;

  div {
    height: auto;
  }

  .card-pemenang-undian {
    padding: 10px 12.5px 20px 12.5px;
    box-sizing: border-box;

    @include breakpoint(tablet) {
      padding: 10px 10px 20px 15px;
    }
    @include breakpoint(mobile) {
      padding: 10px 10px 20px 10px;
    }

    &__body {
      min-height: 360px;
      display: flex;
      background-color: #fff;
      box-shadow: 0px 5px 20px rgba(110, 110, 110, 0.2);
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 30px 20px;

      @include breakpoint(tablet) {
        height: auto;
        padding: 20px 15px;
      }
      @include breakpoint(mobile) {
        height: auto;
        padding: 10px 10px;
      }

      &__img {
        display: flex;
        justify-content: center;
        height: 150px;
        width: 150px;
        border-radius: 100%;
        overflow: hidden;
        @include breakpoint(tablet) {
          width: 150px;
        }
        @include breakpoint(mobile) {
          width: 150px;
        }

        img {
          object-fit: cover;
          object-position: top;
          width: 100%;
        }
      }

      &__desc {
        margin-top: 40px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include breakpoint(mobile) {
          margin-top: 20px;
        }

        h4 {
          font-size: 20px;
          font-weight: 500;
          font-family: FuturaPT-Medium;
          text-transform: uppercase;
          color: $primary-color;
          margin-bottom: 20px;

          @include breakpoint(mobile) {
            font-size: 14px;
          }
        }

        h5 {
          font-size: 18px;
          color: #777;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }
    }

    &:first-child {
      // padding: 0;
    }
  }
}
.carousel-pemenang-undian-handler {
  margin: 100px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  @include breakpoint(mobile) {
    flex-direction: column;
  }

  div {
    height: auto;
  }

  .card-pemenang-undian {
    padding: 10px 0 20px 25px;
    box-sizing: border-box;
    width: 360px;

    @include breakpoint(tablet) {
      padding: 10px 10px 20px 15px;
    }
    @include breakpoint(mobile) {
      padding: 10px 10px 20px 10px;
      width: 100%;
    }

    &__body {
      min-height: 360px;
      display: flex;
      background-color: #fff;
      box-shadow: 0px 5px 20px rgba(110, 110, 110, 0.2);
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 30px 20px;

      @include breakpoint(tablet) {
        height: auto;
        padding: 20px 15px;
      }
      @include breakpoint(mobile) {
        height: auto;
        padding: 10px 10px;
      }

      &__img {
        display: flex;
        justify-content: center;
        height: 150px;
        width: 150px;
        border-radius: 100%;
        overflow: hidden;
        @include breakpoint(tablet) {
          width: 150px;
        }
        @include breakpoint(mobile) {
          width: 150px;
        }

        img {
          object-fit: cover;
          object-position: top;
          width: 100%;
        }
      }

      &__desc {
        margin-top: 40px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include breakpoint(mobile) {
          margin-top: 20px;
        }

        h4 {
          font-size: 20px;
          font-weight: 500;
          font-family: FuturaPT-Medium;
          text-transform: uppercase;
          color: $primary-color;
          margin-bottom: 20px;

          @include breakpoint(mobile) {
            font-size: 14px;
          }
        }

        h5 {
          font-size: 18px;
          color: #777;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }
    }

    &:first-child {
      // padding: 0;
    }
  }
}

///////////////////////////////////////CAROUSEL PERJALANAN PASEO

.carousel-perjalanan-paseo {
  display: flex;
  align-content: center;
  width: 50%;
  height: auto;
  @include breakpoint(fourk) {
    width: 30%;
  }
  @include breakpoint(tablet) {
    width: 60%;
  }
  @include breakpoint(mobile) {
    width: 90%;
  }

  .card-perjalanan-paseo {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 350px;
    padding: 15px;
    @include breakpoint(tablet) {
      padding: 10px;
    }
    @include breakpoint(mobile) {
      width: 90%;
      padding: 5px;
    }

    &__tahun {
      color: $gold-color;
      font-size: 24px;
    }

    &__box-img {
      width: 70%;
      height: 220px;
      border: 1px solid $gold-color;
      margin-bottom: 30px;
      @include breakpoint(tablet) {
        width: 90%;
        height: 200px;
      }
      @include breakpoint(mobile) {
        width: 100%;
        height: 180px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-size: 24px;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 20px;
      }

      p {
        width: 80%;
        @include breakpoint(mobile) {
          width: 100%;
        }
      }
    }
  }
}

///////////////////////////////////////CAROUSEL PENGHARGAAN PASEO

.carousel-penghargaan-paseo {
  display: flex;
  align-content: center;
  width: 50%;
  height: auto;
  @include breakpoint(fourk) {
    width: 30%;
  }
  @include breakpoint(tablet) {
    width: 60%;
  }
  @include breakpoint(mobile) {
    width: 90%;
  }

  .card-penghargaan-paseo {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 350px;
    padding: 15px;
    @include breakpoint(tablet) {
      padding: 10px;
    }
    @include breakpoint(mobile) {
      padding: 5px;
      width: 100%;
    }

    &__tahun {
      color: $gold-color;
      font-size: 24px;
    }

    &__box-img {
      width: 70%;
      height: 270px;
      margin-bottom: 30px;
      @include breakpoint(tablet) {
        width: 90%;
      }
      @include breakpoint(mobile) {
        width: 90%;
        height: 180px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-size: 16px;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 20px;
        font-weight: 600;
      }

      h3 {
        font-size: 22px;
      }
    }
  }
}

////////////////////////////////// Carousel Undian Stamp

.carousel-undian-stamp {
  width: 100%;
  padding: 50px 120px 80px 120px;
  // display: flex;
  height: auto;
  // align-items: center;
  // justify-content: center;
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(twok) {
    padding: 50px 320px;
  }
  @include breakpoint(tablet) {
    padding: 20px 40px 40px 40px;
  }
  @include breakpoint(mobile) {
    padding: 20px 15px 40px 15px;
  }
  .box-card-undian {
    padding: 15px 10px;
    flex: 1;
    .card-undian {
      background-color: #fff;
      box-shadow: 0 0 30px rgba(105, 105, 105, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      // min-height: 370px;
      padding: 20px;

      // &:last-child {
      //   margin-right: 0;
      // }

      &__img {
        width: 50%;
        height: 130px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        @include breakpoint(tablet) {
          height: 100px;
        }
        @include breakpoint(mobile) {
          height: 70px;
        }
        img {
          height: 100%;
        }
      }

      h4 {
        font-size: 18px;
        color: $primary-color;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include breakpoint(mobile) {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }

      p {
        font-size: 14px;
        margin-bottom: 20px;
      }

      span {
        font-size: 12px;
      }
      .periode-undian {
        color: #777;
      }

      .tanggal-undian {
        color: $secondary-color;
        margin-bottom: 20px;
        @include breakpoint(mobile) {
          margin-bottom: auto;
        }
      }

      .btn-lihat-progress {
        padding: 10px 30px;
        @include breakpoint(mobile) {
          padding: 5px;
          font-size: 10px;
          margin-top: 20px;
        }
      }
    }
  }
}

///////////////////////////// Carousel Product Relate

.wrap-allproduct-carousel {
  padding: 80px 120px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  @include breakpoint(twok) {
    padding: 80px 420px;
  }
  @include breakpoint(tablet) {
    padding: 80px 80px;
  }
  @include breakpoint(mobile) {
    padding: 80px 12px;
  }
  .carousel-allproduct {
    &__cards {
      width: 100%;
      min-height: 450px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      margin: 15px;

      @include breakpoint(mobile) {
        min-height: 200px;
        margin: 5px;
      }

      .top-cards {
        background-color: #eee;
        width: 100%;
        min-height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        @include breakpoint(mobile) {
          min-height: 200px;
          padding: 10px;
        }

        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .bottom-cards {
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-align: center;

        h4 {
          color: $primary-color;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        h5 {
          margin-bottom: auto;
          font-size: 16px;
          color: #000;
        }

        .poin-badge--size {
          padding: 3px 20px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          @include breakpoint(mobile) {
            padding: 3px 10px;
          }

          .koin {
            position: absolute;
            left: 0;
            margin-left: -10px;
            height: 40px;
            width: 40px;
            background-image: url('../img/money.png');
            background-repeat: no-repeat;
            background-position: center;
            @include breakpoint(mobile) {
              height: 30px;
              width: 30px;
              background-size: contain;
            }
          }

          .poin-number {
            margin-left: 20px;
            margin-bottom: 0;
            color: $primary-color;
            font-weight: 500;
            font-family: FuturaPT-Medium;
            @include breakpoint(tablet) {
              font-size: 16px;
            }
            @include breakpoint(mobile) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
