.popup-section {
  ::-webkit-scrollbar {
    display: none;
  }
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    padding: 100px 0 50px 0;
    overflow-y: scroll;

    @include breakpoint(tablet) {
      padding: 0px 0 50px 0;
      overflow-y: auto;
    }
    @include breakpoint(mobile) {
      padding: 0px 0 50px 0;
      overflow-y: auto;
    }
  }
}

.popup-ketentuan {
  background-color: #fff;
  width: 450px;
  min-height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 0.2s;

  .close-popup-ketentuan {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
    color: $primary-color;
    margin-bottom: 20px;
  }

  &__img-box {
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;

    img {
      width: 100%;
      margin-top: 20px;
      height: auto;
    }

    .img-k {
      width: 50%;
      height: 100%;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      span {
        font-size: 18px;
        font-weight: 600;
      }

      .true {
        color: $primary-color;
      }
      .false {
        color: orangered;
      }

      &__img {
        background-color: $secondary-color;
        width: 100%;
        height: 100%;
      }
    }
  }

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__btn {
    padding: 10px 30px;
    margin-top: 50px;
  }
}
.popup-success {
  background-color: #fff;
  width: 350px;
  min-height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 0.2s;

  .close-popup-success {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
  }

  &__img-box {
    height: 140px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__btn {
    padding: 10px 30px;
    margin-top: 50px;
  }
}
.popup-gagal {
  background-color: #fff;
  width: 350px;
  min-height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 0.2s;

  .close-popup-gagal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
  }

  &__img-box {
    height: 140px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__btn {
    padding: 10px 30px;
    margin-top: 50px;
  }
}

.popup-daftar {
  background-color: #fff;
  width: 300px;
  min-height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 0.2s;

  .close-popup-daftar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__btn-daftar {
    width: 200px;
    padding: 10px 20px;
    margin-top: 50px;
  }
  &__btn-coba {
    width: 200px;
    padding: 10px 20px;
    margin-top: 10px;
  }
}
.popup-edit {
  background-color: #fff;
  width: 300px;
  min-height: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 0.2s;

  .close-popup-edit {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__btn-edit {
    width: 200px;
    padding: 10px 20px;
    margin-top: 50px;
  }
  &__btn-batal {
    width: 200px;
    padding: 10px 20px;
    margin-top: 10px;
  }
}

.popup-tambahproduk {
  background-color: #fff;
  width: 380px;
  min-height: 500px;

  &__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 16px;
      color: #777;
      font-weight: 500;
    }

    button {
      font-size: 24px;
    }
  }

  &__body {
    display: flex;
    .tab-side {
      width: 35%;
      min-height: 370px;
      @include breakpoint(small-mobile) {
        width: 30%;
      }

      .tab-jenis {
        width: 100%;
        text-align: left;
        padding: 10px 12px;
        border: none;
        border-bottom: 1px solid $gold-color;
        min-height: 50px;
        outline: none;
        color: grey;
        cursor: pointer;
        font-size: 12px;
      }

      .tab-jenis-active {
        color: $gold-color;
        font-weight: 600;
        background-color: #eee;
      }
    }

    .content-side {
      width: 65%;
      background-color: #eee;
      height: 370px;
      padding: 10px;
      overflow-y: scroll;

      @include breakpoint(small-mobile) {
        width: 70%;
      }
      ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
      }

      &__card {
        display: none;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
        gap: 10px;
        height: auto;
        overflow-y: auto;

        .card-produk {
          background-color: #fff;
          width: 100px;
          min-height: 150px;

          &__img {
            width: 100%;
            height: 90px;
            background-color: $secondary-color;
            overflow: hidden;
            display: flex;
            object-position: center;
            img {
              width: 100%;
            }
          }

          &__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 10px 0;
            word-wrap: break-word;

            &__title {
              color: $primary-color;
              font-size: 12px;
              margin-bottom: 10px;
              height: 30px;
              // background-color: red;
            }

            &__action {
              display: flex;
              justify-content: space-around;
              align-items: center;

              .minus {
                width: 20px;
                height: 20px;
                background-color: #fff;
                outline: none;
                border: none;
                border-radius: none;
                cursor: pointer;
                box-shadow: 0 0 10px rgba(121, 121, 121, 0.5);
              }

              .plus {
                color: #fff;
                width: 20px;
                height: 20px;
                background-color: $gold-color-light;
                outline: none;
                border: none;
                border-radius: none;
                cursor: pointer;
                box-shadow: 0 0 5px rgba(121, 121, 121, 0.5);
              }
            }
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    .btn-reset {
      width: 50%;
      padding: 10px;
      margin-right: 10px;
    }

    .btn-submit {
      width: 50%;
      padding: 10px;
    }
  }
}

.popup-filter-hadiah {
  background-color: #fff;
  width: 380px;
  min-height: max-content;

  &__header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-size: 18px;
      color: #777;
      font-weight: 500;
    }

    button {
      font-size: 38px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    background-color: #f6f5f1;
    padding: 20px;
    height: 400px;

    .hadiah-filter {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      h4 {
        color: $primary-color;
        font-size: 22px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0 !important;
      }

      &__box {
        width: 100%;
        border: 1px solid $primary-color;
        padding: 0 10px;
        min-height: 60px;
        display: flex;
        align-items: center;

        .filter-jenis {
          display: flex;
          flex: 1;
          padding: 10px 20px;
          justify-content: center;
          border-right: 1px solid $primary-color;
          cursor: pointer;
          font-weight: 600;
          transition: all 0.2s;

          &:last-child {
            border-right: none;
          }
        }
        .filter-jumlah {
          display: flex;
          flex: 1;
          padding: 10px 0;
          justify-content: center;
          border-right: 1px solid $primary-color;
          cursor: pointer;
          font-weight: 600;
          transition: all 0.2s;

          &:last-child {
            border-right: none;
          }
        }

        .jumlah-active {
          color: $gold-color;
        }
        .jenis-active {
          color: $gold-color;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    .btn-reset {
      width: 50%;
      padding: 10px;
      margin-right: 10px;
    }

    .btn-submit {
      width: 50%;
      padding: 10px;
    }
  }
}
.popup-sortir-hadiah {
  background-color: #fff;
  width: 380px;
  min-height: max-content;

  &__header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-size: 18px;
      color: #777;
      font-weight: 500;
      margin-bottom: 0 !important;
    }

    button {
      font-size: 38px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    background-color: #f6f5f1;
    padding: 20px;
    height: 400px;

    label {
      display: block;
      position: relative;
      padding-left: 40px;
      margin-bottom: 20px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark-radio:after {
          display: flex;
        }
      }
    }
    .checkmark-radio {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid $primary-color;
      &:after {
        content: '';
        position: absolute;
        display: none;
        top: 2.3px;
        left: 2.8px;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background: $primary-color;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    .btn-reset {
      width: 50%;
      padding: 10px;
      margin-right: 10px;
    }

    .btn-submit {
      width: 50%;
      padding: 10px;
    }
  }
}

.popup-dapat-poin {
  display: flex;
  flex-direction: column;
  width: 360px;
  text-align: center;
  padding: 15px;
  align-items: center;

  .close-popup-daily {
    font-size: 30px;
    align-self: flex-end;
  }

  h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    width: 80%;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
  }

  img {
    width: 100%;
    margin-bottom: 20px;
  }

  .btn-akses-dashboard {
    padding: 15px;
    width: 90%;
  }
}
.popup-mulai-tur {
  display: flex;
  flex-direction: column;
  width: 360px;
  text-align: center;
  padding: 15px;
  align-items: center;

  .close-popup-daily {
    font-size: 30px;
    align-self: flex-end;
  }

  h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    width: 80%;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
  }

  img {
    width: 100%;
    margin-bottom: 20px;
  }

  .btn-mulai-tur {
    padding: 15px;
    width: 90%;
  }
}

.popup-tukar-poin {
  display: flex;
  flex-direction: column;
  width: 360px;
  text-align: center;
  padding: 20px 15px;
  align-items: center;
  background-color: #fff;
  min-height: 400px;

  .close-popup-tukar-poin {
    font-size: 30px;
    align-self: flex-end;
  }

  &__box-img {
    width: 50%;
    height: 120px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  h4 {
    font-weight: 600;
    text-transform: uppercase;
    color: $primary-color;
    font-size: 20px;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 20px;
    font-weight: 600;
  }

  &__box-item {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 40px;

    .item-poin {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      font-weight: 600;
      border-bottom: 1px solid silver;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__btn {
    padding: 10px;
    width: 70%;
  }
}

.popup-berhasil-tukar-poin {
  display: flex;
  flex-direction: column;
  width: 360px;
  text-align: center;
  padding: 20px 15px;
  align-items: center;
  background-color: #fff;
  min-height: 400px;

  .close-popup-berhasil-tukar-poin {
    font-size: 30px;
    align-self: flex-end;
  }

  &__box-img {
    width: 90%;
    height: 120px;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  h3 {
    font-weight: 600;
    text-transform: uppercase;
    color: $primary-color;
    font-size: 20px;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 25px;
    font-weight: 600;
    width: 80%;
  }

  &__box-item {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 40px;

    .item-poin {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      font-weight: 600;
      border-bottom: 1px solid silver;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__btn {
    padding: 10px;
    width: 70%;
  }
}
