.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin-bottom: 10px;
  text-align: center;
  @include breakpoint(mobile) {
    width: 90%;
  }
}

.title-1 {
  color: $primary-color;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
  // margin-bottom: 28px;
  font-family: FuturaPT-Medium;
  // letter-spacing: 2px;
  @include breakpoint(mobile) {
    font-size: 26px;
  }
}

.title-desc {
  font-size: 16px;
  font-family: FuturaPT-Book;
  font-weight: 600;
  width: 100%;

  @include breakpoint(mobile) {
    width: 100%;
  }
}

.decor-title {
  height: 20px;
  width: 110px;
  background-image: url('../img/Path 1396_4@3x.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  @include breakpoint(mobile) {
    margin-top: 15px;
  }
}
.decor-title-2 {
  height: 20px;
  width: 110px;
  background-image: url('../img/Path 1396_4@3x.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 0 20px 0;
}
.decor-title-3 {
  height: 20px;
  width: 50px;
  background-image: url('../img/Path 1396_4@3x.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px 0 10px 0;
}

.title-2 {
  color: #fff;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 500;
  // margin-bottom: 28px;
  font-family: FuturaPT-Medium;
  letter-spacing: 1px;
  margin-top: 0px;
  @include breakpoint(mobile) {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.title-3 {
  color: #fff;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 28px;
  font-family: FuturaPT-Medium;
  letter-spacing: 2px;
  @include breakpoint(mobile) {
    font-size: 24px;
  }
}
.title-4 {
  color: #fff;
  font-size: 42px;
  // text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 28px;
  font-family: FuturaPT-Medium;
  letter-spacing: 2px;
  @include breakpoint(mobile) {
    font-size: 24px;
  }
}

.title-desc-2 {
  font-size: 1.5rem;
  font-family: FuturaPT-Book;
  color: #fff;
  font-weight: 500;
  @include breakpoint(mobile) {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 5px;
    width: 100%;
  }
}

.hero-title {
  background-image: url('../img/16. D_BG.png');
  min-height: 400px;
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @include breakpoint(tablet) {
    a {
      top: 90px;
      left: 20px;
      font-size: 24px;
    }

    div {
      // margin-top: 80px;
    }
  }
  @include breakpoint(mobile) {
    min-height: 250px;
    padding: 100px 0 30px;

    a {
      top: 90px;
      left: 20px;
      font-size: 24px;
    }

    div {
      // margin-top: 80px;
    }
  }
}

.label-two {
  display: flex;
  flex-direction: column;
  span {
    font-size: 12px;
  }
  .label-span {
    color: #777;
  }
  .label-value {
    color: $secondary-color;
  }
}

.hero-detail {
  padding-top: 67px;
  width: 100%;
  min-height: 400px;
  background-image: url('../img/Group 12380.png');
  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint(tablet) {
    flex-direction: column;
    min-height: 600px;
    background-image: url('../img/19. M_BG.png');
    background-position: top;
    

    a {
      top: 90px;
      left: 20px;
      font-size: 24px;
    }
  }
  @include breakpoint(mobile) {
    flex-direction: column;
    min-height: 600px;
    background-image: url('/img/19. M_BG.png');
    background-position: top;

    a {
      top: 90px;
      left: 20px;
      font-size: 24px;
    }
  }

  &__box-image {
    // margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -100px;
    @include breakpoint(tablet) {
      margin-left: 0;
    }
    @include breakpoint(mobile) {
      margin-left: 0;
    }
    &--2 {
      width: 300px;
      height: 220px;
      background-color: #fff;
      margin-left: -20px;
      @include breakpoint(tablet) {
        width: 50%;
        height: auto;
        margin-left: 0px;
      }
      @include breakpoint(mobile) {
        width: 80%;
        height: auto;
        margin-left: 0px;
      }
      img {
        height: 80%;
        width: 80%;
        object-fit: contain;
        object-position: center;
      }
    }
    &--1 {
      width: 300px;
      height: 300px;
      @include breakpoint(tablet) {
        width: 50%;
        height: auto;
      }
      @include breakpoint(mobile) {
        width: 80%;
        height: auto;
        // margin-top: 100px;
        padding: 20px;
      }
      img {
        height: 100%;
        width: 90%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__desc {
    margin-left: 100px;
    width: 400px;
    min-height: 250px;
    // background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    @include breakpoint(tablet) {
      margin-left: 0;
      min-width: 100%;

      h3 {
        width: 70%;
      }
    }
    @include breakpoint(mobile) {
      margin-left: 0;
      width: 100%;
      // min-height: 400px;
      margin-top: auto;
      // background-color: red;

      h3 {
        width: 70%;
      }
    }

    .poin-badge--size {
      padding: 3px 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint(mobile) {
        padding: 3px 10px;
      }

      .koin {
        position: absolute;
        left: 0;
        margin-left: -10px;
        height: 40px;
        width: 40px;
        background-image: url('../img/money.png');
        background-repeat: no-repeat;
        background-position: center;
        @include breakpoint(mobile) {
          height: 40px;
          width: 40px;
          background-size: contain;
          margin-left: -15px;
        }
      }

      .poin-number {
        margin-left: 20px;
        margin-bottom: 0;
        color: $primary-color;
        font-weight: 500;
        font-family: FuturaPT-Medium;
        @include breakpoint(tablet) {
          font-size: 16px;
        }
        @include breakpoint(mobile) {
          font-size: 18px;
        }
      }
    }

    span {
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 50px;
    }
  }
}
