.u-gutter-side {
  width: 100%;
  padding: 50px 120px;
  @include breakpoint(tablet) {
    padding: 50px 30px;
  }
  @include breakpoint(mobile) {
    padding: 50px 20px;
  }
}

.dpn {
  display: none !important;
}
