.wrap-allproduct {
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(twok) {
    padding: 80px 420px;
  }
  @include breakpoint(tablet) {
    padding: 80px 80px;
  }
  @include breakpoint(mobile) {
    padding: 30px 18px;
  }
  .allproduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(mobile) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 14px;
    }

    &__cards {
      width: 100%;
      min-height: max-content;
      transition: all 0.3s;
      text-decoration: none;
      pointer-events: none;

      &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }

      @include breakpoint(laptop) {
        min-height: 180px;
      }
      @include breakpoint(mobile) {
        min-height: 200px;
      }

      .top-cards {
        background-color: #eee;
        width: 100%;
        min-height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 20px;

        @include breakpoint(laptop) {
          min-height: 180px;
          padding: 10px;
        }
        @include breakpoint(mobile) {
          min-height: 160px;
          padding: 10px;
        }

        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .bottom-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-align: center;
        min-height: 148px;

        @include breakpoint(mobile) {
          padding: 8px;
          min-height: 120px;
        }
          h4 {
            color: $primary-color;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-family: FuturaPT-Medium;
            font-weight: 500;
            font-size: 13px;
          }
  
          h5 {
            margin-bottom: 15px;
            font-size: 16px;
            color: #000;
          }
      
        

        .box-btn {
          margin-top: auto;

          .btn-lihat-produk {
            padding: 0px 15px;
            font-size: 14px;
            height: 46px;
            pointer-events: auto;

            @include breakpoint(mobile) {
              font-size: 10px;
              padding: 8px;
              height: auto;
            }
          }
        }

        .poin-badge--size {
          padding: 3px 20px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          @include breakpoint(mobile) {
            padding: 3px 10px;
          }

          .koin {
            position: absolute;
            left: 0;
            margin-left: -10px;
            height: 40px;
            width: 40px;
            background-image: url('../img/money.png');
            background-repeat: no-repeat;
            background-position: center;
            @include breakpoint(mobile) {
              height: 30px;
              width: 30px;
              background-size: contain;
            }
          }

          .poin-number {
            margin-left: 20px;
            margin-bottom: 0;
            color: $primary-color;
            font-weight: 500;
            font-family: FuturaPT-Medium;
            @include breakpoint(tablet) {
              font-size: 16px;
            }
            @include breakpoint(mobile) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .pagination-product {
    display: flex;
    width: 25%;
    align-items: center;
    margin: 40px 0;
    justify-content: space-between;
    @include breakpoint(tablet) {
      width: 60%;
    }
    @include breakpoint(mobile) {
      width: 90%;
      
    }
    .prev-page {
      width: 20px;
      height: 20px;
      // background-image: url('../img/28.1 M_ARROW@3x.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: scaleX(-1);
    }
    .next-page {
      width: 20px;
      height: 20px;
      // background-image: url('../img/28.1 M_ARROW@3x.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .page-list {
      color: grey;
      text-decoration: none;

      font-size: 18px;
      font-family: FuturaPT-Medium;
      padding: 8px;
      transition: all 0.2s;
    }

    .page-active {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }

    .btn-move-arr {
      background-color: none;
      border: none;
    }
  }
}
