.all-artikel {
  padding: 40px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(twok) {
    padding: 50px 320px;
  }
  @include breakpoint(tablet) {
    padding: 10px 52px;
  }
  @include breakpoint(mobile) {
    padding: 10px 18px;
  }
  &__box {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include breakpoint(mobile) {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    .card-artikel {
      @include breakpoint(mobile) {
        padding-left: 0;
      }

      &:hover {
        h5 {
          color: $primary-color;
          text-decoration: underline;
        }
      }

      &__body {
        min-height: auto;
        outline: none;
        text-decoration: none;
        color: currentColor;

        &:link,
        &:visited {
          color: currentColor;
        }
        @include breakpoint(mobile) {
          min-height: 200px;
        }

        &__img {
          background-color: #eee;
          height: 220px;
          width: 100%;
          overflow: hidden;

          @include breakpoint(tablet) {
            height: 120px;
          }
          @include breakpoint(mobile) {
            height: 120px;
          }

          img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
          }
        }

        &__desc {
          padding: 20px;
          @include breakpoint(tablet) {
            padding: 10px 0;
          }
          @include breakpoint(mobile) {
            padding: 10px 0;
          }

          span {
            text-transform: uppercase;
            color: $primary-color;
            font-size: 16px;
            font-weight: 500;
            font-family: FuturaPT-Medium;

            @include breakpoint(tablet) {
              font-size: 14px;
            }
            @include breakpoint(mobile) {
              font-size: 10px;
            }
          }

          h5 {
            margin-top: 10px;
            font-size: 18px;
            text-transform: uppercase;
            // letter-spacing: 1px;
            transition: all 0.2s;
            font-family: FuturaPT-Medium;
            font-weight: 500;

            @include breakpoint(tablet) {
              font-size: 16px;
            }
            @include breakpoint(mobile) {
              font-size: 12px;
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  &__btn {
    width: 25%;
    margin-top: 40px;
    padding: 10px 15px;
    @include breakpoint(tablet) {
      width: 50%;
    }
    @include breakpoint(mobile) {
      width: 80%;
    }
  }
}
