////////////// Tour Style

.highlighted {
  z-index: 1000;
  position: relative;
  // background: #fff;
  border: 1px solid #fff;
  padding: 10px;
}

.product-tour-js-single-step .product-tour-js-single-step-inner.is-bottom,
.product-tour-js-single-step .product-tour-js-single-step-inner.is-top {
  background-color: $gold-color;
  color: #fff;
  border-radius: 0px !important;

  .product-tour-js-nav-numeric b {
    color: #fff;
  }

  .product-tour-js-description {
    color: #fff;
  }

  .product-tour-js-tour-nav {
    background-color: transparent;
    border-top: 1px solid #fff;
    padding-top: 10px;

    .product-tour-js-next {
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
    }
    .product-tour-js-prev {
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}

.product-tour-js-single-step .product-tour-js-close:after,
.product-tour-js-single-step .product-tour-js-close:before {
  background-color: #fff !important;
}

.product-tour-js-progress-inner {
  background-color: $gold-color-light-2 !important;
}

.product-tour-js-single-step-final-btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background: none !important;
  bottom: 15px !important;
  font-weight: 600;
  border-radius: 0px !important;

  &:hover {
    background: $primary-color !important;
  }
}

//////////////// End tour

.profile-dashboard {
  width: 70%;
  height: auto;
  margin-top: -50px;
  @include breakpoint(fourk) {
    width: 50%;
    margin-top: 0;
  }
  @include breakpoint(twok) {
    width: 70%;
    margin-top: 0;
  }
  @include breakpoint(tablet) {
    width: 80%;
    margin-top: 0;
  }
  @include breakpoint(mobile) {
    width: 100%;
    margin-top: 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: #fff;
      font-size: 35px;
      letter-spacing: 2px;
      font-weight: 500;
      font-family: FuturaPT-Medium;
      @include breakpoint(mobile) {
        font-size: 18px;
      }
    }

    .btn-notification {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      position: relative;
      @include breakpoint(mobile) {
        width: 30px;
        height: 30px;
      }

      img {
        height: 100%;
        object-fit: contain;
      }

      .indicator-notif {
        width: 18px;
        height: 18px;
        background-color: $gold-color-light-4;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .edit-profile-l {
    margin: 10px 0;
    &__link {
      text-transform: uppercase;
      // margin: 30px 0;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      @include breakpoint(mobile) {
        font-size: 12px;
      }

      &:link,
      &:visited {
        color: #fff;
      }
      margin-right: auto;
    }
  }

  &__bottom {
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    @include breakpoint(mobile) {
      margin-top: 30px;
    }

    .poin-sum {
      display: flex;
      align-items: center;
      margin-right: 30px;
      @include breakpoint(mobile) {
        margin-right: 10px;
      }

      &__icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        @include breakpoint(mobile) {
          margin-right: 5px;
          width: 30px;
          height: 30px;
        }
        img {
          width: 100%;
        }
      }
      &__text {
        font-size: 16px;
        color: #fff;
        @include breakpoint(mobile) {
          font-size: 14px;
        }
      }
    }
    .stamp-sum {
      margin-right: auto;
      display: flex;
      align-items: center;
      @include breakpoint(mobile) {
        margin-right: auto;
      }
      &__icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        @include breakpoint(mobile) {
          margin-right: 5px;
          width: 30px;
          height: 30px;
        }
        img {
          width: 100%;
        }
      }
      &__text {
        font-size: 16px;
        color: #fff;
        @include breakpoint(mobile) {
          font-size: 14px;
        }
      }
    }
  }
  .btn-upload-struk {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    @include breakpoint(tablet) {
      padding: 8px;
      font-size: 14px;
    }
    @include breakpoint(mobile) {
      padding: 5px;
      font-size: 10px;
    }
    img {
      height: 15px;
      margin-right: 10px;
      @include breakpoint(mobile) {
        margin-right: 5px;
        height: 10px;
      }
    }
  }
}

.section-tab-button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  @include breakpoint(mobile) {
    padding-bottom: 25px;
  }
  .box-tab {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 100px;
    margin-top: -70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include breakpoint(fourk) {
      width: 50%;
    }
    @include breakpoint(twok) {
      width: 70%;
    }
    @include breakpoint(tablet) {
      width: 80%;
    }
    @include breakpoint(mobile) {
      width: 90%;
    }

    .tab-dashboard-group {
      cursor: pointer;
      align-self: stretch;
      display: flex;
      align-items: center;
      flex-basis: 200px;
      justify-content: center;
      border-bottom: 5px solid transparent;
      transition: all 0.2s;
      @include breakpoint(tablet) {
        flex-direction: column;
      }
      @include breakpoint(mobile) {
        flex-direction: column;
      }
      &__icon {
        margin-right: 30px;
        display: inline-block;
        filter: invert(51%) sepia(0%) saturate(0%) hue-rotate(125deg)
          brightness(91%) contrast(87%);

        @include breakpoint(tablet) {
          margin-right: 0;
          height: 70px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 70%;
          }
        }
        @include breakpoint(mobile) {
          margin-right: 0;
          height: 70px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 50%;
          }
        }
      }

      &__text {
        color: #777;
        font-size: 18px;
        font-weight: 600;
        @include breakpoint(mobile) {
          font-size: 14px;
        }
      }
    }

    .tab-dashboard-active {
      border-bottom: 5px solid $gold-color-light;
      .tab-dashboard-group__icon {
        filter: invert(50%) sepia(99%) saturate(834%) hue-rotate(18deg)
          brightness(97%) contrast(101%);
        display: inline-block;

        @include breakpoint(tablet) {
          margin-right: 0;
          height: 70px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 70%;
          }
        }
        @include breakpoint(mobile) {
          margin-right: 0;
          height: 70px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 50%;
          }
        }
      }
      .tab-dashboard-group__text {
        color: $gold-color;
        font-weight: 600;
        font-family: FuturaPT-Medium;
      }
    }
  }
}

.section-content-dashboard {
  width: 100%;
  min-height: 500px;
  ////////////////////////////////////////////////////////////////////////// DASHBOARD TAB STYLE /////////////
  #dashboard-tab {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .top-section-dashboard {
      width: 100%;
      padding: 50px 120px;
      @include breakpoint(fourk) {
        padding: 50px 520px;
      }
      @include breakpoint(twok) {
        padding: 50px 320px;
      }
      @include breakpoint(tablet) {
        padding: 20px 40px;
      }
      @include breakpoint(mobile) {
        padding: 20px 15px;
      }

      .stamp-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $gold-color;
        margin-bottom: 40px;

        .box-stamp-progress-bar {
          width: 85%;
          display: flex;
          align-items: center;
          height: 100px;
          background-color: #fff;
          @include breakpoint(mobile) {
            width: 90%;
          }

          &__img {
            width: 10%;
            margin-right: 15px;
            @include breakpoint(tablet) {
              width: 15%;
              height: 70px;
            }
            @include breakpoint(mobile) {
              width: 30%;
              height: 70px;
            }
            img {
              height: 100%;
            }
          }

          &__content {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            .text-stamp {
              height: 50%;
              width: 100%;
              display: flex;

              align-items: center;

              &__img {
                display: flex;
                align-items: center;
                width: 50px;
                height: 50px;
                margin-right: 15px;
                @include breakpoint(mobile) {
                  margin-right: 5px;
                }
                img {
                  width: 90%;
                }
              }

              &__desc {
                font-size: 16px;
                @include breakpoint(mobile) {
                  font-size: 14px;
                }
              }
            }
            .stamp-progress-bar {
              height: 50%;
              width: 100%;
              display: flex;
              align-items: center;

              .frame-progress-bar {
                width: 100%;
                height: 20px;
                border-radius: 20px;
                background-color: #777;
                overflow: hidden;
                display: flex;
                position: relative;
                align-items: center;
                span {
                  position: absolute;
                  color: #fff;
                  font-size: 12px;
                  &:first-child {
                    left: 10px;
                  }
                  &:last-child {
                    right: 10px;
                  }
                }
                .fill-progress-bar {
                  background-color: $gold-color-light-2;
                  height: 100%;
                  border-radius: 20px;
                }
              }
            }
          }
        }
        &__footer {
          margin-top: 30px;
          margin-bottom: 40px;
          text-align: center;
          display: flex;
          align-items: center;
          flex-direction: column;

          h4 {
            font-size: 14px;
            font-weight: 500;
          }

          .btn-tambah-poin {
            margin-top: 30px;
            padding: 10px 30px;
            display: flex;
            align-items: center;

            img {
              height: 15px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .mission-section {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eee;
      @include breakpoint(fourk) {
        padding: 50px 520px;
      }
      @include breakpoint(twok) {
        padding: 50px 320px;
      }
    }
    .poin-tambahan-section {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #eee;
      @include breakpoint(fourk) {
        padding: 50px 520px;
      }
      @include breakpoint(twok) {
        padding: 50px 320px;
      }

      h4 {
        color: $primary-color;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 20px;
        font-size: 20px;
        font-family: FuturaPT-Medium;
        margin-bottom: 50px;
      }

      .langkah-mudah {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-between;
        @include breakpoint(mobile) {
          flex-direction: column;
        }
        &__item {
          display: flex;
          @include breakpoint(mobile) {
            margin-bottom: 10px;
          }

          img {
            margin-right: 15px;
            height: 40px;
          }

          p {
            font-weight: 600;
            @include breakpoint(mobile) {
              font-size: 14px;
            }
          }
        }
      }

      .facebook-socmed-btn {
        padding: 10px 30px;
        margin-top: 50px;
        @include breakpoint(mobile) {
          padding: 10px;
        }
      }
    }

    .katalog-rewards-section {
      display: flex;
      align-items: center;
      flex-direction: column;
      @include breakpoint(fourk) {
        padding: 50px 520px;
      }
      @include breakpoint(twok) {
        padding: 50px 320px;
      }
    }
  }
  ////////////////////////////////////////////////////////////////////////// DASHBOARD TAB STYLE END /////////////

  /////////////////////////////////////////////////////////////////////////// HISTORI TAB STYLE ////////////////
  #histori-tab {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .histori-aktivitas {
      width: 100%;
      padding: 50px 120px 80px 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint(fourk) {
        padding: 50px 520px;
      }
      @include breakpoint(twok) {
        padding: 50px 320px;
      }
      @include breakpoint(tablet) {
        padding: 20px 40px;
      }
      @include breakpoint(mobile) {
        padding: 20px 15px;
      }
      .card-histori-aktivitas {
        width: 30%;
        background-color: #fff;
        box-shadow: 0 0 30px rgba(105, 105, 105, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 370px;
        padding: 25px;
        margin-right: 30px;
        @include breakpoint(tablet) {
          width: 40%;
          padding: 15px 10px;
          margin-right: 10px;
          min-height: 340px;
        }
        @include breakpoint(mobile) {
          width: 50%;
          padding: 15px 10px;
          margin-right: 10px;
          min-height: 340px;
        }

        &:last-child {
          margin-right: 0;
        }

        &__img {
          width: 50%;
          height: 130px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include breakpoint(tablet) {
            height: 90px;
          }
          @include breakpoint(mobile) {
            height: 70px;
          }
          img {
            height: 100%;
          }
        }

        h4 {
          font-size: 18px;
          color: $primary-color;
          text-transform: uppercase;
          margin-bottom: 20px;
          font-weight: 500;
          font-family: FuturaPT-Medium;
        }

        p {
          font-size: 16px;
          margin-bottom: 20px;
          font-weight: 600;
          margin-bottom: auto;
          @include breakpoint(mobile) {
            margin-bottom: auto;
          }
        }

        .btn-lihat-progress {
          padding: 10px 30px;
          @include breakpoint(mobile) {
            padding: 5px;
          }
        }
      }
    }
  }

  /////////////////////////////////////////////////////////////////////////// HISTORI TAB STYLE END ////////////////

  /////////////////////////////////////////////////////////////////////////// UNDIAN TAB STYLE ////////////////
  #undian-tab {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .progress-undian {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px 120px;
      height: auto;
      @include breakpoint(fourk) {
        padding: 50px 520px;
      }
      @include breakpoint(twok) {
        padding: 50px 320px;
      }
      @include breakpoint(mobile) {
        padding: 20px 15px;
      }
      .box-stamp-undian {
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100px;
        text-align: center;

        @include breakpoint(mobile) {
          width: 90%;
        }

        &__img {
          width: 10%;
          margin-bottom: 20px;
          @include breakpoint(mobile) {
            width: 30%;
          }
          img {
            width: 90%;
          }
        }

        &__title {
          color: $primary-color;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 20px;
          margin-bottom: 20px;
        }

        &__desc {
          margin-bottom: 20px;
          text-align: center;
        }

        &__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;

          .text-stamp {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            &__img {
              display: flex;
              align-items: center;
              width: 45px;
              height: 45px;
              margin-right: 10px;
              img {
                width: 90%;
              }
            }

            &__desc {
              font-size: 16px;
            }
          }
          .stamp-progress-bar {
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;

            .frame-progress-bar {
              width: 100%;
              height: 20px;
              border-radius: 20px;
              background-color: #777;
              overflow: hidden;
              display: flex;
              position: relative;
              align-items: center;
              span {
                position: absolute;
                color: #fff;
                font-size: 12px;
                &:first-child {
                  left: 10px;
                }
                &:last-child {
                  right: 10px;
                }
              }
              .fill-progress-bar {
                width: 50%;
                background-color: $gold-color-light-2;
                height: 100%;
                border-radius: 20px;
              }
            }
          }
        }
      }
      &__footer {
        margin-top: 30px;
        margin-bottom: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          font-size: 14px;
          font-weight: 500;
        }

        .btn-tambah-poin {
          margin-top: 30px;
          padding: 10px 30px;
          display: flex;
          align-items: center;

          img {
            height: 15px;
            margin-right: 10px;
          }
        }
      }
    }

    .box-undian-stamp {
      background-color: #eee;
      width: 100%;
      padding: 50px 120px 0px 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint(fourk) {
        padding: 50px 520px;
      }
      @include breakpoint(twok) {
        padding: 50px 320px;
      }
      @include breakpoint(tablet) {
        padding: 40px 40px 40px 40px;
      }
      @include breakpoint(mobile) {
        padding: 20px 15px 40px 15px;
      }
    }

    .box-pemenang-undian {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 120px 80px 120px;

      @include breakpoint(fourk) {
        padding: 50px 520px;
      }
      @include breakpoint(twok) {
        padding: 50px 320px;
      }
      @include breakpoint(tablet) {
        padding: 40px 40px 40px 40px;
      }
      @include breakpoint(mobile) {
        padding: 20px 15px 40px 15px;
      }
    }
  }

  /////////////////////////////////////////////////////////////////////////// UNDIAN TAB STYLE END ////////////////

  /////////////////////////////////////////////////////////////////////////// HADIAH TAB STYLE ////////////////
  #hadiah-tab {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
    height: auto;
    padding: 100px 120px 80px 120px;
    @include breakpoint(tablet) {
      padding: 100px 40px 40px 40px;
    }
    @include breakpoint(mobile) {
      padding: 100px 15px 40px 15px;
    }

    .list-tukar-poin {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      margin-top: 20px;
      @include breakpoint(mobile) {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
      }

      .card-catalog {
        display: flex;

        &__body {
          min-height: 360px;
          display: flex;
          background-color: #fff;
          box-shadow: 0px 5px 20px rgba(110, 110, 110, 0.5);
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 100%;
          padding: 30px 20px;
          outline: none;
          text-decoration: none;
          &:link,
          &:visited {
            color: currentColor;
          }
          @include breakpoint(tablet) {
            min-height: 200px;
            padding: 20px 10px;
          }
          @include breakpoint(mobile) {
            min-height: 220px;
            padding: 10px 5px;
          }

          &__img {
            display: flex;
            justify-content: center;
            height: 170px;
            width: 90%;
            @include breakpoint(tablet) {
              width: 100%;
            }
            @include breakpoint(mobile) {
              width: 100%;
              height: 100px;
            }

            img {
              object-fit: contain;
              object-position: center;
              @include breakpoint(tablet) {
                width: 90%;
              }
              @include breakpoint(mobile) {
                width: 90%;
              }
            }
          }

          &__desc {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            @include breakpoint(tablet) {
              margin-top: auto;
            }
            @include breakpoint(mobile) {
              margin-top: auto;
            }

            h4 {
              font-size: 20px;
              font-weight: 500;
              font-family: FuturaPT-Medium;
              text-transform: uppercase;
              color: $primary-color;

              @include breakpoint(mobile) {
                font-size: 14px;
              }
            }
            .poin-badge--size {
              margin-top: 40px;
              width: 80%;
              padding: 3px 0;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              @include breakpoint(mobile) {
                margin-top: 20px;
              }

              .koin {
                position: absolute;
                left: 0;
                margin-left: -10px;
                height: 40px;
                width: 40px;
                background-image: url('../img/money.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                @include breakpoint(mobile) {
                  height: 30px;
                  width: 30px;
                  margin-left: -8px;
                }
              }
              .poin-number {
                margin-left: 20px;
                color: $primary-color;
                font-size: 18px;
                @include breakpoint(mobile) {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }

    .loadmore-btn {
      padding: 10px 20px;
      width: 20%;
      margin-top: 50px;
      @include breakpoint(tablet) {
        width: 40%;
      }
      @include breakpoint(mobile) {
        width: 80%;
      }
    }
  }
}
