.histori-upload-indetail {
  display: flex;
  padding: 50px 120px;
  background-color: #eee;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(twok) {
    padding: 50px 320px;
  }
  @include breakpoint(tablet) {
    padding: 20px 40px;
  }
  @include breakpoint(mobile) {
    padding: 20px 15px;
  }

  &__box {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 60%;
    min-height: 500px;
    margin-top: 40px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(tablet) {
      margin-top: 40px;
      width: 100%;
      padding: 60px;
    }
    @include breakpoint(mobile) {
      margin-top: 40px;
      width: 100%;
      padding: 40px 20px;
    }

    .histori-upload-list {
      margin-top: 20px;
      width: 100%;
      height: 100%;

      .header-list-item {
        background-color: rgb(209, 234, 240);
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }

      .body-list-item {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;

        &__img {
          width: 120px;
          height: 100px;
          margin-right: 10px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        &__content {
          width: 100%;
          .produk-name {
            height: 50%;
          }
          .produk-named {
            height: 50%;
            display: flex;
            flex-direction: row;
            

            &__top {
              display: flex;
              flex-direction: column;
              margin-right: 20px;
              width: 20%;
            }
          }
          .desc-produk {
            display: flex;

            height: 50%;

            .date-pembelian {
              margin-right: 20px;
              width: 20%;
            }
          }
        }
      }
    }

    .btn-lihat-selengkapnya {
      width: 40%;
      margin-top: 50px;
      padding: 10px;
      @include breakpoint(tablet) {
        width: 60%;
      }
      @include breakpoint(mobile) {
        width: 90%;
      }
    }
  }
}
