.hero-detail-artikel {
  height: 500px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  @include breakpoint(fourk) {
    height: 600px;
  }
  @include breakpoint(tablet) {
    height: 400px;

    a {
      top: 70px;
      left: 20px;
      font-size: 24px;
    }
  }
  @include breakpoint(mobile) {
    height: 300px;

    a {
      top: 70px;
      left: 20px;
      font-size: 24px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.detail-artikel {
  padding: 0px 120px 30px 120px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  @include breakpoint(fourk) {
    padding: 0 520px 30px 520px;
  }
  @include breakpoint(tablet) {
    padding: 0 0 0px 0;
    margin-bottom: 0;
  }
  @include breakpoint(mobile) {
    padding: 0 0 0px 0;
    margin-bottom: 0;
  }

  &__box {
    background-color: #fff;
    width: 85%;
    min-height: 500px;
    margin-top: -50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
    padding: 40px 60px;
    font-weight: 600;
    @include breakpoint(tablet) {
      width: 100%;
      box-shadow: none;
      padding: 30px;
    }
    @include breakpoint(mobile) {
      width: 100%;
      box-shadow: none;
      padding: 40px 18px 0px 18px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary-color;
    }
  }
}

// .detail-artikel-carous{
//     @include breakpoint(fourk) {
//         padding: 0 520px 40px 520px;
//       }
// }
