.top-section-detail-card-lengkapi {
  display: flex;
  padding: 50px 120px;
  background-color: #eee;
  height: auto;
  align-items: center;
  justify-content: center;
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(tablet) {
    padding: 20px 40px;
  }
  @include breakpoint(mobile) {
    padding: 20px 15px;
  }

  &__section {
    width: 85%;
    display: flex;
    align-items: center;
    min-height: 100px;

    flex-direction: column;
    padding: 20px 0 60px 0;
    text-align: center;

    .lengkapi-section {
      display: flex;
      width: 100%;
      margin-top: 40px;
      @include breakpoint(tablet) {
        flex-direction: column;
      }
      @include breakpoint(mobile) {
        flex-direction: column;
      }
      &__box {
        background-color: #fff;
        margin-right: 20px;
        padding: 25px 20px;
        min-height: 200px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        flex: 1;
        @include breakpoint(tablet) {
          margin-right: 0;
          margin-bottom: 20px;
        }
        @include breakpoint(mobile) {
          margin-right: 0;
          margin-bottom: 20px;
        }

        h4 {
          text-transform: uppercase;
          color: $primary-color;
          margin-bottom: 25px;
          font-size: 18px;
        }

        p {
          font-weight: 600;
          margin-bottom: 25px;
          font-size: 14px;
        }

        .lengkapi-btn {
          width: 90%;
          padding: 10px 15px;
          @include breakpoint(mobile) {
            font-size: 12px;
            padding: 10px;
          }

          &:disabled {
            opacity: 0.5;
            cursor: default;

            &:hover {
              background-color: $gold-color;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
