.title-detail-card-login {
  padding-top: 80px;
  min-height: 500px;
  @include breakpoint(twok) {
    padding: 80px 320px 0 320px;
  }
  @include breakpoint(mobile) {
    padding-top: 130px;
    height: auto;
  }
  &__box-progress {
    width: 40%;
    height: auto;
    margin-bottom: 40px;
    @include breakpoint(fourk) {
      margin-bottom: auto;
    }
    @include breakpoint(tablet) {
      width: 80%;
    }
    @include breakpoint(mobile) {
      width: 80%;
    }

    .label-progress {
      font-size: 13px;
      margin-bottom: 10px;
      color: #fff;
    }

    .progress-bar-frame {
      width: 100%;
      height: 20px;
      display: flex;
      position: relative;
      border-radius: 20px;
      overflow: hidden;

      .full-number {
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 10px;
        top: 3px;
      }

      &__bar {
        overflow: hidden;
        border-left: 1px solid #fff;
        display: flex;
        flex: 1;
        height: 100%;
        background-color: #777;

        &__fill {
          background-color: $gold-color-light-2;
        }
        &:first-child {
          border-radius: 20px 0 0 20px;
          border-left: none;
        }
        &:last-child {
          border-radius: 0 20px 20px 0;
        }
      }
    }
  }

  .hd-undian-progress {
    margin: 30px 0 40px 0;
    color: #fff;
    text-transform: uppercase;
    @include breakpoint(mobile) {
      margin: 20px 0;
    }
  }

  .langkah-mudah {
    width: 110%;
    height: auto;
    display: flex;
    justify-content: space-between;

    align-items: center;
    @include breakpoint(tablet) {
      flex-direction: column;
    }
    @include breakpoint(mobile) {
      flex-direction: column;
      width: 90%;
    }
    &:last-child {
      margin-right: 0;
    }
    &__item {
      display: flex;
      flex: 1;
      align-items: center;
      margin-right: 20px;
      @include breakpoint(tablet) {
        margin-bottom: 15px;
      }
      @include breakpoint(mobile) {
        margin-bottom: 10px;
      }

      .badge-step {
        background-image: url('../img/Group 12839@2x.png');
        margin-right: 15px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        color: #fff;
        font-weight: 6000;
      }

      p {
        font-weight: 500;
        color: #fff;
        text-align: left;
        width: 85%;
        @include breakpoint(mobile) {
          font-size: 14px;
        }
      }
    }
  }

  .btn-klaim-poin {
    margin: 5px 0 15px 0;
    width: 20%;
    padding: 15px 20px;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    @include breakpoint(tablet) {
      padding: 10px;
      width: 40%;
      font-size: 16px;
    }
    @include breakpoint(mobile) {
      padding: 10px;
      width: 40%;
      font-size: 16px;
    }
  }
}

.top-section-detail-card-login {
  display: flex;
  padding: 50px 120px;
  background-color: #eee;
  height: auto;
  align-items: center;
  justify-content: center;
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(twok) {
    padding: 50px 320px;
  }
  @include breakpoint(tablet) {
    padding: 20px 40px;
  }
  @include breakpoint(mobile) {
    padding: 20px 15px;
  }

  &__section {
    width: 85%;
    display: flex;
    align-items: center;
    min-height: 100px;

    flex-direction: column;
    border-bottom: 2px solid $gold-color;
    padding: 20px 0 60px 0;
    text-align: center;

    .form-salin-kode {
      display: flex;
      justify-content: center;
      width: 60%;
      margin-top: 50px;
      align-items: center;
      @include breakpoint(tablet) {
        flex-direction: column;
        width: 80%;
      }
      @include breakpoint(mobile) {
        flex-direction: column;
        width: 100%;
      }

      &__part {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin-bottom: 20px;
        @include breakpoint(tablet) {
          width: 80%;
        }
        @include breakpoint(mobile) {
          width: 100%;
        }

        .hinted {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          label {
            font-size: 16px;

            color: #777;
          }
        }

        .field-input-kode {
          padding: 20px;

          border-radius: none;
          outline: none;
          font-size: 16px;
          margin-right: 20px;
          @include breakpoint(tablet) {
            margin-right: 0;
          }
          @include breakpoint(mobile) {
            margin-right: 0;
          }
          &:valid {
            border: 1px solid $primary-color;
          }
          &::placeholder {
            color: silver;
          }
          border: 1px solid $primary-color;
          //   }
        }
      }

      .btn-salin-kode {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        font-size: 12px;
        height: 50px;
        @include breakpoint(mobile) {
          width: 80%;
        }
      }
    }

    .btn-checkin {
      margin-top: 30px;
      padding: 10px 30px;
      display: flex;
      align-items: center;

      img {
        height: 15px;
        margin-right: 10px;
      }
    }
  }
}
