.section-form-edit {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  @include breakpoint(twok) {
    padding: 0px 320px 50px 320px;
  }
  .form-edit {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 60%;
    min-height: 500px;
    margin-top: -50px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      @include breakpoint(mobile) {
        width: 100%;
      }
    }
    @include breakpoint(tablet) {
      margin-top: -30px;
      width: 100%;
      padding: 60px;
    }
    @include breakpoint(mobile) {
      margin-top: -60px;
      width: 100%;
      padding: 40px 20px;
    }

    &__img {
      width: 60%;
      height: 70px;
      margin-bottom: 60px;
      background-image: linear-gradient(
        to top,
        $primary-color,
        $secondary-color
      );
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 50px;
      color: #fff;
      font-size: 13px;

      @include breakpoint(mobile) {
        padding: 10px 20px;
        width: 80%;
      }
    }

    &__field {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      align-items: center;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &__part {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin-bottom: 20px;
        @include breakpoint(mobile) {
          width: 100%;
        }

        .hinted {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          label {
            font-size: 16px;

            color: #777;
          }
        }

        .edit-part {
          width: 100%;
          position: relative;

          .box-alamat {
            min-height: 200px;
            @include breakpoint(mobile) {
              padding-top: 60px;
            }

            &__shown {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 14px;
              width: 50%;
              @include breakpoint(mobile) {
                grid-template-columns: 1fr;
              }
            }

            &__input {
              display: none;
              grid-template-columns: 1fr 1fr;
              gap: 14px;
              width: 70%;
              @include breakpoint(mobile) {
                grid-template-columns: 1fr;
              }
              .field-edit-alamat {
                padding: 5px;
                width: 100%;
                border-radius: none;
                outline: none;
                font-size: 13px;

                &::placeholder {
                  color: silver;
                }
                border: 1px solid $primary-color;
              }
              textarea {
                max-width: 200px;
              }
            }
          }

          .field-input-edit {
            padding: 20px;
            width: 100%;
            border-radius: none;
            outline: none;
            font-size: 16px;

            //   &:invalid {
            //     border: 1px solid salmon;
            //   }
            //   &:valid {
            //     border: 1px solid $primary-color;
            //   }
            &::placeholder {
              color: silver;
            }
            border: 1px solid $primary-color;
            @include breakpoint(mobile) {
              font-size: 13px;
              padding: 10px;
            }
          }

          .link-edit-field {
            position: absolute;
            right: 10px;
            top: 23px;
            text-decoration: none;
            text-transform: uppercase;
            color: $primary-color;
            font-weight: 600;
            font-size: 12px;

            cursor: pointer;
            @include breakpoint(mobile) {
              right: 10px;
              top: 10px;
            }
          }
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 30px;
      width: 100%;
      align-items: center;

      .btn-submit-edit {
        padding: 10px 20px;
        width: 50%;
        @include breakpoint(mobile) {
          width: 80%;
        }
      }
      .btn-kirim-hadiah {
        padding: 10px 20px;
        width: 50%;
        @include breakpoint(mobile) {
          width: 80%;
        }
      }
    }
  }
}
