.section-box-faq {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  @include breakpoint(twok) {
    padding: 0px 320px 50px 320px;
  }
  .faq {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 60%;
    height: auto;
    margin-top: -50px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(tablet) {
      margin-top: -30px;
      width: 100%;
      padding: 60px;
    }
    @include breakpoint(mobile) {
      margin-top: -60px;
      width: 100%;
      padding: 40px 20px;
      box-shadow: none;
    }

    h3 {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 50px;
      text-align: center;
    }

    .box-faq {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      width: 100%;
      padding: 30px 25px;
      margin-bottom: 25px;
      transition: all 0.2s;

      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s;
        .q {
          font-size: 18px;
          transition: all 0.2s;
        }

        .q-blue {
          color: $primary-color;
        }
      }

      .answer {
        margin-top: 20px;
        font-size: 18px;
        transition: all 0.2s;
      }
    }

    .ber-kategori {
      margin-top: 30px;
      text-align: center;

      &__box {
        margin-top: 20px;
        display: flex;
        @include breakpoint(mobile) {
          flex-direction: column;
        }

        .box-kat {
          width: 150px;
          min-height: 120px;
          padding: 10px;
          text-decoration: none;
          border: 1px solid silver;
          margin-right: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          @include breakpoint(mobile) {
            margin-right: 0;
            margin-top: 20px;
            width: 100%;
            height: 130px;
          }

          &__img {
            width: 90%;
            height: 70px;
            margin-bottom: auto;
            img {
              height: 100%;
              
            }
          }

          h5 {
            color: #777;
            text-transform: uppercase;
            font-size: 16px;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .pertanyaan-lain{
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      width: 90%;
      min-height: 100px;
      padding: 20px 30px;
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakpoint(mobile) {
        flex-direction: column;
        text-align: center;
        justify-content: center;

      }

      h2{
        text-transform: uppercase;
        color: $primary-color;
        @include breakpoint(mobile) {
          margin-bottom: 30px;
          font-size: 16px;
        }
      }

      .btn-pty{
        padding: 14px;
        @include breakpoint(mobile) {
          font-size: 16px;
          padding: 10px;
        }
      }
    }
  }
}
