.s-h{
  @include breakpoint(mobile) {
    position: relative;
  }
}

.box-input-search-h {
  background-color: #fff;
  width: 40%;
  height: 50px;
  padding: 10px 15px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  
  @include breakpoint(tablet) {
    width: 80%;

    position: absolute;
    bottom: 30px;
    border: 1px solid $primary-color;
    margin-top: 0;
  }
  @include breakpoint(mobile) {
    width: 80%;

    position: absolute;
    bottom: -50px;
    border: 1px solid $primary-color;
  }



  .img-box {
    width: 20px;
    height: 100%;
    background-image: url('../img/22. ICON SEARCH.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  input {
    width: 70%;
    border: none;
    outline: none;
    font-size: 22px;
    font-family: FuturaPT-Medium;
    padding-left: 10px;
    @include breakpoint(mobile) {
      width: 60%;
    }
  }

  .btn-search-inh {
    padding: 5px 10px;
    font-size: 14px;
    @include breakpoint(tablet) {
        font-size: 14px;
      }
    @include breakpoint(mobile) {
        font-size: 14px;
      }
  }
}

.hasil-cari {
  .btn-lihat-lebih {
    padding: 15px;
    margin-top: 60px;
  }
}
