.section-histori-upload {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  .histori-upload-content {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 60%;
    min-height: 500px;
    margin-top: -50px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(tablet) {
      margin-top: -30px;
      width: 100%;
      padding: 60px;
    }
    @include breakpoint(mobile) {
      margin-top: -60px;
      width: 100%;
      padding: 40px 20px;
    }

    .dropdown-filter-histori {
      border: 1px solid $primary-color;
      padding: 20px 20px;
      outline: none;
      width: 65%;
    }

    .box-filter-date {
      width: 65%;
      padding: 20px 0;

      span {
        font-size: 14px;
        color: #777;
      }

      &__action {
        margin-top: 10px;
        span {
          margin-right: 10px;
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }
        }

        input[type='date'] {
          border: 1px solid #eee;
          border-radius: 0;
          outline: 0;
          padding: 5px;
        }
      }
    }

    .histori-upload-list {
      margin-top: 20px;
      width: 100%;
      height: 100%;

      .header-list-item {
        background-color: rgb(209, 234, 240);
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }

      .body-list-item {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;

        &__img {
          width: 120px;
          height: 100px;
          margin-right: 10px;

          img{
            width: 100%;
            object-fit: contain;
          }
        }

        &__content {
          width: 100%;
          .produk-name {
            height: 50%;
          }
          .desc-produk {
            display: flex;

            height: 50%;

            .date-pembelian {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
