.box-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include breakpoint(tablet) {
    margin-top: -40px;
  }
  @include breakpoint(mobile) {
    margin-top: -80px;
  }

  .register-box {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.89);
    min-height: auto;
    width: 400px;
    box-shadow: 0px 0 11px rgba(0, 0, 0, 0.4);
    padding: 50px 30px;
    position: absolute;
    top: 120px;
    right: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @include breakpoint(fourk) {
      position: absolute;
      top: 180px;
      right: 520px;
    }
    @include breakpoint(twok) {
      position: absolute;
      top: 180px;
      right: 320px;
    }
    @include breakpoint(laptop) {
      position: absolute;
      top: 120px;
      right: 60px;
    }
    @include breakpoint(tablet) {
      position: relative;
      top: 0;
      right: 0;
      width: 350px;
    }
    @include breakpoint(mobile) {
      width: 300px;
      height: auto;
      padding: 20px;
      position: relative;
      top: 0;
      right: 0;
    }

    h3 {
      color: $primary-color;
      font-size: 24px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: 500;
      font-family: FuturaPT-Medium;
      @include breakpoint(mobile) {
        font-size: 20px;
      }
    }

    p {
      font-size: 17px;
      margin-bottom: 20px;
      font-weight: 600;
      @include breakpoint(mobile) {
        font-size: 14px;
      }
    }

    .btn-kedashboard {
      padding: 15px;
      font-size: 14px;
    }

    p {
      font-size: 16px;
      margin-bottom: 80px;
      font-weight: 600;
      @include breakpoint(tablet) {
        margin-bottom: 35px;
      }
      @include breakpoint(mobile) {
        font-size: 14px;
        margin-bottom: 25px;
      }
    }

    .form-register {
      width: 90%;
      display: flex;
      flex-direction: column;
      label {
        color: grey;
        text-align: left;
        margin-bottom: 5px;
        font-size: 14px;
      }

      &__input {
        padding: 20px 10px;
        margin-bottom: 30px;
        border-radius: none;
        outline: none;
        border: 1px solid silver;
        font-size: 16px;
        @include breakpoint(tablet) {
          padding: 15px;
          font-size: 14px;
        }
        @include breakpoint(mobile) {
          padding: 15px;
          font-size: 12px;
        }

        &:focus {
          border: 1px solid $primary-color;
        }

        &::placeholder {
          color: silver;
        }
      }
      &__btn {
        align-self: center;
        padding: 10px 10px;
        font-size: 14px;
        font-weight: 600;
        width: 50%;
        @include breakpoint(tablet) {
          font-size: 12px;
        }
        @include breakpoint(mobile) {
          font-size: 12px;
        }
      }
    }
  }
}

.second-section {
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 600;

  @include breakpoint(fourk) {
    padding: 80px 520px;
  }
  @include breakpoint(twok) {
    padding: 80px 320px;
  }
  @include breakpoint(laptop) {
    padding: 80px 10vh;
  }
  @include breakpoint(tablet) {
    padding: 50px 30px;
  }
  @include breakpoint(mobile) {
    padding: 20px 18px;
  }

  .boxed-trust {
    display: flex;
    border-bottom: 2px solid $gold-color;
    padding-bottom: 100px;
    margin-bottom: 100px;
    @include breakpoint(tablet) {
      flex-direction: column;
    }
    @include breakpoint(mobile) {
      flex-direction: column;
      padding-bottom:40px ;
      margin-bottom: 0;
    }

    .left-side {
      width: 50%;
      padding-right: 50px;
      @include breakpoint(tablet) {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
      }
      @include breakpoint(mobile) {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
      }

      h2 {
        font-size: 42px;
        color: $primary-color;
        line-height: 54px;
        margin-bottom: 10px;
        font-weight: 500;
        font-family: FuturaPT-Medium;

        @include breakpoint(tablet) {
          font-size: 30px;
          line-height: 1.3;
        }
        @include breakpoint(mobile) {
          font-size: 20px;
          line-height: 1.3;
        }
      }

      p {
        font-size: 16px;
        margin-bottom: 40px;
        width: 50%;
        @include breakpoint(fourk) {
          font-size: 20px;
        }
        @include breakpoint(mobile) {
          font-size: 14px;
          width: 100%;
        }
      }

      div {
      }

      &__btn {
        padding: 13px 30px;
        font-size: 14px;
        font-weight: 600;
        margin-top: 20px;
        @include breakpoint(fourk) {
          font-size: 20px;
        }
        @include breakpoint(tablet) {
          display: none;
          font-size: 12px;
        }
        @include breakpoint(mobile) {
          display: none;
          font-size: 12px;
        }
      }
    }
    .right-side {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include breakpoint(tablet) {
        width: 100%;
        justify-content: center;
      }
      @include breakpoint(mobile) {
        width: 100%;
        justify-content: center;
      }

      .box-lisensi {
        background-color: white;
        border: 2px solid $gold-color;
        width: 100%;
        min-height: 200px;
        padding: 10px 20px;
        z-index: 1;

        @include breakpoint(mobile) {
          width: 100%;
          padding: 18px;
        }

        &__part {
          height: 50%;
          display: flex;
          flex-direction: row;
          padding: 20px 0;

          @include breakpoint(tablet) {
            flex-direction: column;
            align-items: center;
            height: auto;
            text-align: center;
          }
          @include breakpoint(mobile) {
            flex-direction: column;
            align-items: center;
            height: auto;
            text-align: center;
          }

          .icon-lisensi {
            width: 28%;
            display: flex;
            justify-content: center;
            margin-right: 10px;

            img {
              object-fit: contain;
            }
            @include breakpoint(tablet) {
              margin-bottom: 20px;
              margin-right: 0px;
            }
            @include breakpoint(mobile) {
              margin-bottom: 20px;
              margin-right: 0px;
            }
          }
          .desc-lisensi {
            width: 70%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            @include breakpoint(mobile) {
              width: 100%;
            }

            h3 {
              font-size: 26px;
              color: $primary-color;
              margin-bottom: 10px;
              font-weight: 500;
              font-family: FuturaPT-Medium;
              @include breakpoint(fourk) {
                font-size: 28px;
              }
              @include breakpoint(mobile) {
                font-size: 26px;
              }
            }

            p {
              font-size: 16px;
              line-height: 1.5;
              font-weight: 600;
              min-height: 72px;

              @include breakpoint(fourk) {
                font-size: 20px;
              }
            }
          }

          &:first-child {
            border-bottom: 2px solid $gold-color-light;
          }
        }
      }
    }
    .box-overlay {
      // border: 2px solid $gold-color-light-2;
      // min-height: 280px;
      // width: 37%;
      // position: absolute;
      // transform: translateX(8px) translateY(-12px);
      // @include breakpoint(wide) {
      //   font-size: 20px;
      //   width: 26%;
      //   height: 350px;
      // }
      // @include breakpoint(tablet) {
      //   display: none;
      // }
      // @include breakpoint(mobile) {
      //   display: none;
      // }
    }
  }

  .boxed-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-carousel {
  position: relative;
  width: 100%;

  @include breakpoint(fourk) {
    padding: 10px 520px;
  }
  @include breakpoint(twok) {
    padding: 10px 320px;
  }
  @include breakpoint(mobile) {
    padding: 0px 18px;
  }

  .boxed-product {
    width: 100%;
    display: flex;
    justify-content: center;
    // margin-top: 50px;
    @include breakpoint(mobile) {
      padding: 20px;
    }
  }
}

.section-poin-rewards {
  min-height: 472px;
  width: 100%;
  display: flex;
  margin-bottom: 80px;

  @include breakpoint(fourk) {
    padding: 10px 520px;
  }
  @include breakpoint(twok) {
    padding: 10px 320px;
  }
  @include breakpoint(tablet) {
    flex-direction: column;
    height: auto;
  }
  @include breakpoint(mobile) {
    flex-direction: column;
    height: auto;
  }

  &__img {
    width: 50%;
    // background-color: $secondary-color;
    // height: 100%;

    img {
      width: 100%;
      @include breakpoint(tablet) {
        width: 100%;
      }
      @include breakpoint(mobile) {
        width: 100%;
      }
    }
    @include breakpoint(tablet) {
      width: 100%;
      height: auto;
    }
    @include breakpoint(mobile) {
      width: 100%;
      height: auto;
    }
  }
  &__desc {
    width: 50%;
    // height: 100%;
    padding: 100px 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include breakpoint(laptop) {
      width: 50%;
      padding: 30px;
    }
    @include breakpoint(tablet) {
      width: 100%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    @include breakpoint(mobile) {
      text-align: center;
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .segera-hadir {
      background-color: $gold-color-light-4;
      padding: 5px 10px;
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 500;
      font-family: FuturaPT-Medium;
      width: max-content;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 26px;
      color: $primary-color;
      line-height: 1.5;
      margin-bottom: 20px;
      font-weight: 500;
      font-family: FuturaPT-Medium;
      @include breakpoint(mobile) {
        font-size: 20px;
      }
    }

    p {
      font-size: 20px;
      margin-bottom: 10px;
      width: 50%;
      font-weight: 600;
      font-family: FuturaPT-Book;
      @include breakpoint(mobile) {
        font-size: 14px;
        width: 80%;
      }
    }

    .side-btn {
      padding: 0px 30px;
      font-size: 14px;
      font-weight: 600;
      width: max-content;
      height: 46px;
      @include breakpoint(mobile) {
        padding: 10px 20px;
        font-size: 12px;
      }
    }
  }
}

.section-katalog-rewards {
  padding: 90px 120px;
  display: flex;
  align-items: center;
  background-color: #eee;
  flex-direction: column;
  @include breakpoint(fourk) {
    padding: 90px 520px;
  }
  @include breakpoint(twok) {
    padding: 90px 320px;
  }
  @include breakpoint(laptop) {
    padding: 90px 70px;
  }
  @include breakpoint(tablet) {
    padding: 50px 35px;
  }
  @include breakpoint(mobile) {
    padding: 50px 20px;
  }

  .box-cara-poin {
    display: flex;
    width: 100%;
    margin-top: 50px;
    @include breakpoint(tablet) {
      flex-direction: column;
    }
    @include breakpoint(mobile) {
      flex-direction: column;
    }

    .langkah {
      min-height: 300px;
      width: 25%;
      text-align: center;
      padding-left: 20px;
      @include breakpoint(tablet) {
        width: 100%;
        padding: 0;
      }
      @include breakpoint(mobile) {
        width: 100%;
        padding: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      &__icon {
        height: 150px;
        width: 100%;
        margin-bottom: 20px;
        img {
          margin-left: -20px;
        }
      }

      &__title {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        font-family: FuturaPT-Medium;
      }

      &__desc {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

.section-artikel {
  display: flex;
  align-items: center;
  height: auto;
  flex-direction: column;
  width: 100%;
  padding: 0 120px 100px 120px;

  @include breakpoint(fourk) {
    padding: 0 520px;
  }
  @include breakpoint(twok) {
    padding: 0 320px;
  }
  @include breakpoint(tablet) {
    padding: 0 40px 60px 40px;
  }
  @include breakpoint(mobile) {
    padding: 0 20px 60px 20px;
  }

  .register-short {
    background-color: #fff;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 20px rgba(110, 110, 110, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 80px;
    padding: 20px;

    @include breakpoint(tablet) {
      width: 80%;
      flex-direction: column;
      height: auto;
      text-align: center;
      align-items: center;
      margin-top: -50px;
    }
    @include breakpoint(mobile) {
      width: 100%;
      flex-direction: column;
      height: auto;
      text-align: center;
      align-items: center;
      margin-top: -20px;
    }

    h3 {
      color: $primary-color;
      font-size: 17px;
      text-transform: uppercase;
      margin-right: 40px;
      font-weight: 500;
      font-family: FuturaPT-Medium;

      @include breakpoint(tablet) {
        margin-right: 0;
        margin-bottom: 20px;
      }
      @include breakpoint(mobile) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    .btn-daftar {
      width: 20%;
      margin-right: 40px;
      padding: 10px 20px;

      @include breakpoint(tablet) {
        width: 40%;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 10px;
      }
      @include breakpoint(mobile) {
        width: 80%;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 10px;
      }
    }

    .btn-login {
      width: 20%;
      padding: 10px 20px;

      @include breakpoint(tablet) {
        width: 40%;
      }
      @include breakpoint(mobile) {
        width: 80%;
      }
    }
  }

  .btn-selengkap-artikel {
    padding: 8px 10px;
    margin-top: 30px;
  }
}

.box-reg-short {
  display: flex;
  justify-content: center;
  .register-short-poinpage {
    background-color: #fff;
    width: 80%;
    height: 100px;
    box-shadow: 0 0 20px rgba(110, 110, 110, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    padding: 20px;

    @include breakpoint(tablet) {
      width: 80%;
      flex-direction: column;
      height: auto;
      text-align: center;
      align-items: center;
      margin-top: -50px;
    }
    @include breakpoint(mobile) {
      width: 100%;
      flex-direction: column;
      height: auto;
      text-align: center;
      align-items: center;
      margin-top: -20px;
    }

    h3 {
      color: $primary-color;
      font-size: 17px;
      text-transform: uppercase;
      margin-right: 40px;

      @include breakpoint(tablet) {
        margin-right: 0;
        margin-bottom: 20px;
      }
      @include breakpoint(mobile) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    .btn-daftar {
      width: 20%;
      margin-right: 40px;
      padding: 10px 20px;

      @include breakpoint(tablet) {
        width: 40%;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 10px;
      }
      @include breakpoint(mobile) {
        width: 80%;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 10px;
      }
    }

    .btn-login {
      width: 20%;
      padding: 10px 20px;

      @include breakpoint(tablet) {
        width: 40%;
      }
      @include breakpoint(mobile) {
        width: 80%;
      }
    }
  }
}

.social-media-section {
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(twok) {
    padding: 50px 320px;
  }
  .social-media-title {
    text-align: center;
    background-color: #F6F5F1;
    padding: 43px 20px 43px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(tablet) {
      flex-direction: column;
    }
    @include breakpoint(mobile) {
      flex-direction: column;
    }

    img {
      margin-right: 20px;
      height: 40px;
      @include breakpoint(tablet) {
        height: 40px;
        margin-right: 0;
        margin-bottom: 10px;
      }
      @include breakpoint(mobile) {
        height: 46px;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    h4 {
      margin-bottom: 0;
      @include breakpoint(mobile) {
        font-size: 26px;
        width: 70%;
        margin: auto;
      }
    }
  }
}
