.section-form-login {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  @include breakpoint(fourk) {
    padding: 0px 520px 50px 520px;
  }
  @include breakpoint(twok) {
    padding: 0px 320px 50px 320px;
  }
  .form-login {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 60%;
    height: auto;
    margin-top: -50px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(tablet) {
      margin-top: 0;
      width: 100%;
      padding: 60px;
    }
    @include breakpoint(mobile) {
      margin-top: 0;
      width: 100%;
      padding: 40px 20px;
    }

    &__img {
      width: 60%;
      height: 70px;
      margin-bottom: 60px;
      background-image: linear-gradient(
        to top,
        $primary-color,
        $secondary-color
      );
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 50px;
      color: #fff;
      font-size: 13px;

      @include breakpoint(mobile) {
        padding: 10px 20px;
        width: 80%;
      }
    }

    &__field {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &__part {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin-bottom: 20px;
        @include breakpoint(mobile) {
          width: 100%;
        }

        .hinted {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          label {
            font-size: 16px;

            color: #777;
          }
          .required-hint {
            color: salmon;
            font-weight: 600;
            font-size: 12px;
          }
        }

        .field-input-login {
          padding: 20px;

          border-radius: none;
          outline: none;
          font-size: 16px;

          &:invalid {
            border: 1px solid salmon;
          }
          &:valid {
            border: 1px solid $primary-color;
          }
          &::placeholder {
            color: silver;
          }
          border: 1px solid $primary-color;
          //   }
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 30px;
      width: 100%;
      align-items: center;

      .btn-submit-login {
        padding: 10px 20px;
        width: 50%;
        @include breakpoint(mobile) {
          width: 80%;
        }
      }
    }
  }
}
