.section-notifikasi {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    @include breakpoint(fourk) {
      padding: 0px 520px 50px 520px;
    }
    @include breakpoint(twok) {
      padding: 0px 320px 50px 320px;
    }
    .notifikasi-box{
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      width: 60%;
      height: auto;
      margin-top: -50px;
      padding: 50px 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint(tablet) {
        margin-top: 0;
        width: 100%;
        padding: 60px;
      }
      @include breakpoint(mobile) {
        margin-top: 0;
        width: 100%;
        padding: 40px 20px;
      }

      &__card{
        width: 100%;
        min-height: 100px;
        padding: 15px 0;
        border-bottom: 1px solid silver;
        display: flex;

        &__box-img{
          width: 120px;
          height: 100px;
          margin-right: 20px;

          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }

        &__desc{
          display: flex;
          flex-direction: column;
          width: 100%;
            h3{
              font-weight: 500;
              font-family: FuturaPT-Medium;
              font-size: 20px;
              @include breakpoint(mobile) {
                font-size: 16px;
              }
            }

            h4{
              font-size: 16px;
              margin-bottom: auto;
              width: 75%;
              @include breakpoint(mobile) {
                font-size: 12px;
              }
            }
            span{
              font-size: 14px;
              align-self: flex-end;
              margin-top: 20px;
              @include breakpoint(mobile) {
                font-size: 12px;
              }
            }
        }

      }
    }
}