.section-form-otp {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  .form-otp {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 35%;
    min-height: 500px;
    margin-top: -50px;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(tablet) {
      margin-top: 0;
      width: 100%;
      padding: 60px;
    }
    @include breakpoint(mobile) {
      margin-top: 0;
      width: 100%;
      padding: 40px 20px;
    }

    &__img {
      width: 50%;
      height: 30%;
      margin-bottom: 50px;
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 90%;
      }
    }

    h5{
      color: salmon;
      margin-bottom: 20px;
      font-size: 16px;
    }

    &__field {
      display: flex;
      justify-content: center;
      width: 100%;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .digit-group {
        width: 50px;
        height: 60px;
        margin-right: 15px;
        outline: none;
        text-align: center;
        border: 1px solid silver;
        font-size: 28px;
        font-weight: 600;
        border-radius: 5px;
        @include breakpoint(tablet) {
          margin-right: 10px;
        }
        @include breakpoint(mobile) {
            margin-right: 10px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:invalid{
          border: 1px solid salmon;
        }

        // &:empty{
        //   border: 1px solid silver;
        // }
      }

      .wrong{
        border: 1px solid salmon;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 30px;
      width: 100%;
      align-items: center;
      span {
        font-size: 16px;
        margin-bottom: 10px;
        color: #777;
      }
      a {
        text-transform: uppercase;
        color: $primary-color;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 600;
      }
      button {
        margin-top: 50px;
        padding: 10px 20px;
        width: 300px;
      }
    }
  }
}
