.section-form-daily-bonus {
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  .form-daily-bonus {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 30%;
    min-height: 300px;
    margin-top: -50px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(fourk) {
      width: 20%;
    }
    @include breakpoint(tablet) {
      margin-top: 0;
      width: 100%;
      padding: 60px 120px;
    }
    @include breakpoint(mobile) {
      margin-top: 0;
      width: 100%;
      padding: 40px 20px;
    }

    &__img {
      width: 90%;
      height: 70px;
      margin-bottom: 20px;
      background-image: linear-gradient(
        to top,
        $primary-color,
        $secondary-color
      );
      display: flex;
      align-items: center;
      padding: 10px 20px;
      color: #fff;
      font-size: 13px;

      @include breakpoint(mobile) {
        padding: 10px 12px;
        width: 100%;
      }

      .day-box{
          width: 28%;
          height: 70%;
          border: 1px solid #fff;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          font-weight: 600;
          @include breakpoint(mobile) {
           margin-right: 10px;
          }
          
      }

      .koin-img{
          width: 40px;
          height: 40px;
          background-image: url('../img/Group 11954.png');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 20px;
          @include breakpoint(mobile) {
            margin-right: 10px;
           }
      }

      span{
          font-size: 16px;
          text-overflow: wrap;
          width: 50%;
          word-wrap: break-word;
      }
    }

    .img-active{
        background-image: linear-gradient(
        to top,
        $gold-color,
        $gold-color-light-2
      );
    }

    &__footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 0px;
      width: 100%;
      align-items: center;

      .btn-akses-dashboard {
        padding: 15px 20px;
        width: 90%;
        @include breakpoint(mobile) {
          width: 100%;
        }
      }
    }
  }
}
