.product-cards {
  padding: 30px 120px 60px 120px;
  @include breakpoint(mobile) {
    padding: 20px 18px;
  }
  .cards-product {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    // @include breakpoint(fourk) {
    //   padding: 30px 520px;
    // }
    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 15px;
    }
    @include breakpoint(mobile) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 24px;
    }

    .cardp {
      padding-top: 150px;
      height: auto;
      width: 100%;
      display: flex;

      //   @include breakpoint(wide) {
      //     font-size: 20px;
      //     height: auto;
      //   }
      @include breakpoint(tablet) {
        height: auto;
        padding-top: 100px;
      }
      @include breakpoint(mobile) {
        height: auto;
        padding-top: 50px;
      }

      &:first-child {
        padding-left: 0;
      }

      .color-nice {
        background-image: radial-gradient(rgb(255, 136, 0), rgb(201, 108, 1));
      }
      .color-jolly {
        background-image: radial-gradient(rgb(201, 0, 118), rgb(139, 0, 81));
      }
      .color-toply {
        background-image: radial-gradient(rgb(0, 166, 93), rgb(0, 119, 67));
      }

      &__desc {
        width: 100%;
        min-height: 300px;
        background-image: radial-gradient(#138afa, #1e55c5);
        text-align: center;
        padding-top: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 6px 30px 6px;
        align-self: stretch;
        text-decoration: none;
        outline: none;

        &:link,
        &:visited {
          color: currentColor;
        }
        @include breakpoint(wide) {
          padding-bottom: 20px;
        }
        @include breakpoint(tablet) {
          // padding-top: 70px;
          padding-bottom: 10px;
        }
        @include breakpoint(mobile) {
          // padding-top: 70px;
          padding-bottom: 10px;
          min-height: 200px;
        }

        .cardp__img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          // background-color: red;
          height: 120px;
          position: relative;
          @include breakpoint(tablet) {
            height: 100px;
          }
          @include breakpoint(mobile) {
            height: 50px;
          }
          img {
            position: absolute;
            top: 0;
            margin-top: -180px;
            height: 350px;
            width: 300px;
            object-fit: contain;

            @include breakpoint(laptop) {
              width: inherit;
            }
            @include breakpoint(tablet) {
              height: 230px;
              width: 230px;
              margin-top: -100px;
            }
            @include breakpoint(mobile) {
              height: 150px;
              width: 150px;
              margin-top: -80px;
            }
          }
        }

        h4 {
          color: #fff;
          font-size: 22px;
          font-weight: 500;
          margin-bottom: 20px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-family: FuturaPT-Medium;
          @include breakpoint(wide) {
            font-size: 24px;
          }
          @include breakpoint(mobile) {
            font-size: 16px;
          }
        }

        p {
          color: #fff;
          font-size: 16px;
          width: 70%;
          font-family: FuturaPT-Book;
          margin-bottom: 20px;
          //   height: 75px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          letter-spacing: 0.5px;
          @include breakpoint(wide) {
            font-size: 20px;
          }
          @include breakpoint(mobile) {
            font-size: 12px;
            width: 100%;
            margin-bottom: auto;
            // height: 60px;
          }
        }

        .btn-lihat-produk {
          padding: 0px 20px;
          font-size: 14px;
          height: 46px;
          display: flex;
          align-items: center;
          margin-top: auto;
          @include breakpoint(mobile) {
            padding: 8px;
            height: auto;
            font-size: 10px;
          }
        }
      }
    }
  }
}
