.product-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 16.2vw;
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(twok) {
    padding: 50px 320px;
  }
  @include breakpoint(tablet) {
    padding: 0;
  }
  @include breakpoint(mobile) {
    padding: 0;
  }

  &__box {
    background-color: #fff;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px 80px 20px;
    @include breakpoint(tablet) {
      margin-top: 0;
      padding: 60px 40px;
      width: 100%;
      box-shadow: none;
    }
    @include breakpoint(mobile) {
      margin-top: 0;
      padding: 40px 18px;
      width: 100%;
      box-shadow: none;
    }

    .desc-product {
      width: 60%;
      font-size: 16px;
      font-weight: 600;
      font-family: FuturaPT-Book;
      margin-bottom: 40px;
      @include breakpoint(mobile) {
        width: 80%;
      }
    }

    .box-paseo-benefit {
      width: 100%;
      height: auto;
      // display: grid;
      justify-content: center;
      // margin-top: 50px;
      margin-bottom: 80px !important;
      // grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
      // @include breakpoint(tablet) {
      //   grid-template-columns: 1fr;
      // }
      // @include breakpoint(mobile) {
      //   grid-template-columns: 1fr;
      // }
      .card-paseo-benefit {
        // width: 350px;
        min-height: 300px;
        border: 1px solid $gold-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;

        @include breakpoint(tablet) {
          width: 100%;
          margin-right: 0;
        }
        @include breakpoint(mobile) {
          width: 100%;
          margin-right: 0;
        }

        &__img {
          height: 120px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          // background-color: red;

          img {
            height: 100%;
          }
        }

        &__title {
          font-size: 24px;
          color: $primary-color;
          text-transform: uppercase;
          margin-bottom: 20px;
          font-weight: 500;
          font-family: FuturaPT-Medium;
        }

        &__desc {
          width: 90%;
          text-align: left;
          margin-bottom: 10px;
          font-size: 16px;
          font-family: FuturaPT-Book;
          font-weight: 600;

          strong{
            font-family:FuturaPT-Medium;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .box-spesifikasi {
      width: 50%;
      height: auto;
      background-color: auto;
      display: flex;
      flex-direction: column;
      @include breakpoint(mobile) {
        width: 90%;
      }

      &__item {
        border-top: 1px solid $gold-color-light-2;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;

        span {
          font-weight: 600;
        }

        &:last-child {
          border-bottom: 1px solid $gold-color-light-2;
        }
      }
    }
  }

  .store-list {
    background-color: #f6f5f1;
    width: 100%;
    height: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 40px;
    outline: none;

    @include breakpoint(mobile) {
      width: 100%;
      padding: 40px 18px;
    }

    .desc-toko {
      width: 100%;
      margin-bottom: 20px;
      font-size: 18px;
      margin-top:25px;
    }

    &__title {
      font-size: 20px;
      font-family: FuturaPT-Medium;
      font-weight: 500;
      color: $primary-color;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    &__item-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 14px;
      // margin-bottom: 80px;
      @include breakpoint(tablet) {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
      }
      @include breakpoint(mobile) {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
      }

      &__item {
        border: 1px solid silver;
        width: 150px;
        height: 150px;
        background-color: #fff;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: currentColor;
        outline: none;

        @include breakpoint(mobile) {
          width: 100%;
          height: 100%;
        }
        &:link,
        &:visited {
          color: currentColor;
        }

        .box-img {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
          img {
            width: 100%;
            // height: 80%;
            object-fit: contain;
          }
        }

        span {
          text-transform: uppercase;
        }
      }
    }
  }
}

.title-produk-lainnya {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
