.title-progress-undian {
  min-height: 500px;
  padding-top: 60px;
  @include breakpoint(twok) {
    padding: 60px 320px 0 320px;
  }
  @include breakpoint(mobile) {
    padding-top: 120px;
    height: auto;
  }
  .title-box {
    width: 80%;
    height: auto;
  }

  .hd-undian-progress {
    margin: 30px 0 40px 0;
    color: #fff;
    text-transform: uppercase;
    @include breakpoint(mobile) {
      margin: 20px 0;
    }
  }

  .langkah-mudah {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    align-items: center;
    @include breakpoint(mobile) {
      flex-direction: column;
    }
    &__item {
      display: flex;
      flex: 1;
      align-items: center;
      @include breakpoint(mobile) {
        margin-bottom: 10px;
      }

      .badge-step{
        background-image: url('../img/Group 12839@2x.png');
        margin-right: 15px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        color: #fff;
        font-weight: 6000;
      }

      p {
        font-weight: 500;
        color: #fff;
        text-align: left;
        width:85%;
        @include breakpoint(mobile) {
          font-size: 14px;
        }
      }
    }
  }
}

.top-section-progress-undian {
  width: 100%;
  padding: 50px 120px;
  background-color: #eee;
  height: auto;
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(twok) {
    padding: 50px 320px;
  }
  @include breakpoint(tablet) {
    padding: 20px 40px;
  }
  @include breakpoint(mobile) {
    padding: 20px 15px;
  }
  .stamp-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .box-stamp-progress-bar {
      width: 85%;
      display: flex;
      align-items: center;
      height: 100px;
      @include breakpoint(mobile) {
        width: 90%;
      }

      &__img {
        width: 10%;
        margin-right: 15px;
        @include breakpoint(tablet) {
          width: 15%;
          height: 70px;
        }
        @include breakpoint(mobile) {
          width: 30%;
          height: 70px;
        }
        img {
          height: 100%;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .text-stamp {
          height: 50%;
          width: 100%;
          display: flex;

          align-items: center;

          &__img {
            display: flex;
            align-items: center;
            width: 50px;
            height: 50px;
            margin-right: 15px;
            @include breakpoint(mobile) {
              margin-right: 5px;
            }
            img {
              width: 90%;
            }
          }

          &__desc {
            font-size: 16px;
            @include breakpoint(mobile) {
              font-size: 14px;
            }
          }
        }
        .stamp-progress-bar {
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;

          .frame-progress-bar {
            width: 100%;
            height: 20px;
            border-radius: 20px;
            background-color: #777;
            overflow: hidden;
            display: flex;
            position: relative;
            align-items: center;
            span {
              position: absolute;
              color: #fff;
              font-size: 12px;
              &:first-child {
                left: 10px;
              }
              &:last-child {
                right: 10px;
              }
            }
            .fill-progress-bar {
              background-color: $gold-color-light-2;
              height: 100%;
              border-radius: 20px;
            }
          }
        }
      }
    }
    &__footer {
      margin-top: 30px;
      margin-bottom: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;

      .poin-status {
        display: flex;
        width: 300px;
        height: auto;
        margin: 30px 0;
        &__box {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          width: 50%;
          margin-right: 15px;
          height: 110px;

          h3 {
            text-transform: uppercase;
            color: $primary-color;
            font-size: 16px;
            margin-bottom: 20px;
          }
          .poin-badge--size {
            width: 90%;
            padding: 3px 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
  
            .koin {
              position: absolute;
              left: 0;
              margin-left: -10px;
              height: 30px;
              width: 30px;
              background-image: url('../img/money.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              @include breakpoint(mobile) {
                height: 30px;
                width: 30px;
                margin-left: -8px;
              }
            }
            .poin-number {
              margin-left: 20px;
              color: $primary-color;
              font-size: 14px;
              @include breakpoint(mobile) {
                font-size: 14px;
              }
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }

      h4 {
        font-size: 14px;
        font-weight: 500;
      }

      .btn-tambah-poin {
        margin-top: 30px;
        padding: 10px 30px;
        display: flex;
        align-items: center;

        img {
          height: 15px;
          margin-right: 10px;
        }
      }
    }
  }
}

.bottom-section-progress-undian {
  padding: 40px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint(twok) {
    padding: 50px 320px;
  }
  @include breakpoint(mobile) {
    padding:40px 15px;
  }
}
