.section-box-sitemap {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  background-color: #F6F5F1;
  min-height: 40vh;
  @include breakpoint(twok) {
    padding: 0px 320px 50px 320px;
  }
  @include breakpoint(tablet) {
    padding-bottom: 0;
  }
  @include breakpoint(mobile) {
    padding-bottom: 0;
  }
  .sitemap {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 60%;
    height: auto;
    margin-top: -50px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(tablet) {
      margin-top: 0px;
      width: 100%;
      padding: 60px;
    }
    @include breakpoint(mobile) {
      margin-top: 0px;
      width: 100%;
      padding: 40px 20px;
    }

    h1,h2,h3,h4,h5,h6{
      color: $primary-color;
      text-transform: uppercase;
      font-family: FuturaPT-Medium;
      font-weight: 500;
    }

    li{
      font-family: FuturaPT-Book;
      font-weight: 600;
    }

    p{
      font-family: FuturaPT-Book;
      font-weight: 600;
      font-size: 16px;
    }

    .map-list {
      padding: 11px 0;
      border-bottom: 1px solid $gold-color;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        text-decoration: none;
        color: $primary-color;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        font-family: FuturaPT-Medium;

        &:link,
        &:visited {
          color: $primary-color;
        }
      }

      &:first-child {
        border-top: 1px solid $gold-color;
      }
    }

    .wrap-sub {
      min-height: max-content;
      width: 50%;
      transition: all 0.2s;

      &__list {
        padding: 15px 0;
        border-bottom: 1px solid $gold-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.2s;

        a {
          text-decoration: none;
          color: $primary-color;
          text-transform: uppercase;
          font-size: 20px;
          transition: all 0.2s;
          font-weight: 500;
        font-family: FuturaPT-Medium;

          &:link,
          &:visited {
            color: $primary-color;
          }
        }
      }

      &__child {
        padding: 15px 0;
        border-bottom: 1px solid $gold-color;
        .child-list {
          padding: 5px 0;
          a {
            text-decoration: none;
            color: #000;
            font-size: 18px;
            font-weight: 600;

            &:link,
            &:visited {
              color: #000;
            }
          }
        }
      }
    }
  }
}
