.awalmula-paseo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .box-paseo-profile {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    @include breakpoint(tablet) {
      flex-direction: column;
      width: 70%;
    }
    @include breakpoint(mobile) {
      flex-direction: column;
      width: 90%;
    }
    .card-paseo-profile {
      width: 350px;
      height: 300px;
      border: 1px solid $gold-color;
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      @include breakpoint(tablet) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
      @include breakpoint(mobile) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }

      &__img {
        width: 50%;
        height: 140px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__title {
        font-size: 20px;
        color: $primary-color;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-family: FuturaPT-Medium;
        font-weight: 500;
      }

      &__desc {
        text-align: center;
        font-weight: 600;
        width: 80%;
        font-family: FuturaPT-Book;

      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.perjalanan-paseo {
  background-color: #eee;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
}
.penghargaan-paseo {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
}
