.tukar-poin-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 120px;
  @include breakpoint(fourk) {
    padding: 50px 520px;
  }
  @include breakpoint(tablet) {
    padding: 0;
  }
  @include breakpoint(mobile) {
    padding: 0;
  }

  &__box {
    background-color: #fff;
    width: 70%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    @include breakpoint(tablet) {
      margin-top: 0;
      padding: 60px 40px;
      width: 100%;
      box-shadow: none;
    }
    @include breakpoint(mobile) {
      margin-top: 0;
      padding: 40px 15px;
      width: 100%;
      box-shadow: none;
    }

    h4{
        font-family: FuturaPT-Medium;
        font-size: 18px;
        margin-bottom: 20px;
    }
    h5{
        font-family: FuturaPT-Medium;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: left;
        align-self: flex-start;
    }

    ol{
        padding: 0 20px;
        li{
            margin-bottom: 15px;
            padding-left: 15px;
            font-weight: 600;
        }
    }

    .btn-tukar-poin{
        margin-top: 20px;
        padding: 10px 20px;
    }
  }
}
