.section-form-upload-receipt {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  .form-upload-receipt {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 55%;
    min-height: 500px;
    margin-top: -50px;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(fourk) {
      width: 35%;
      padding: 60px 80px;
    }
    @include breakpoint(tablet) {
      margin-top: 0;
      width: 100%;
      padding: 60px;
    }
    @include breakpoint(mobile) {
      margin-top: 0;
      width: 100%;
      padding: 40px 20px;
    }

    &__field {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include breakpoint(mobile) {
        width: 100%;
      }

      label {
        font-size: 14px;
        margin-bottom: 10px;
        color: grey;
      }

      &__input {
        padding: 20px;
        border: 1px solid silver;
        border-radius: none;
        outline: none;
        font-size: 18px;
        cursor: pointer;
        width: 100%;
        @include breakpoint(mobile) {
          width: 100%;
        }

        &:focus {
          border: 1px solid $primary-color;
        }
      }
    }

    .field-upload-img {
      input[type='file'] {
        display: none;
      }

      .choose-file-btn {
        background-color: rgba($gold-color, 0.7);
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 10px solid $gold-color-light-3;
        margin-top: 30px;
        margin-bottom: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          color: $primary-color;
          text-align: center;
          font-size: 12px;
          width: 60%;
        }
      }
    }

    .list-jenis-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;

      .list-jenis {
        margin-top: 40px;
        width: 100%;
        label {
          color: grey;
          font-size: 14px;
        }

        .close-brand-produk {
          font-size: 25px;
          float: right;
        }

        .list-jenis-tissue {
          width: 100%;
          height: 130px;
          display: flex;
          margin-top: 20px;
          @include breakpoint(fourk) {
            height: auto;
          }
          @include breakpoint(mobile) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: auto;
            gap: 10px;
          }

          &__item {
            border: 1px solid grey;
            width: 25%;
            height: 100%;
            margin-right: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            img {
              margin-bottom: 10px;
              height: auto;
              width: 100%;
            }
            @include breakpoint(fourk) {
              width: 100%;
              height: 180px;
            }
            @include breakpoint(mobile) {
              width: 100%;
              height: 130px;
            }

            &:last-child {
              margin: 0;
            }
          }
        }
      }

      .jumlah-produk-section {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__group {
          background-color: #eee;
          margin-bottom: 20px;
          width: 80%;

          padding: 20px;
          &:last-child {
            margin-bottom: 0;
          }

          &__title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            h4 {
              font-size: 16px;
              color: $primary-color;
              text-transform: uppercase;
            }
            .hapus-btn {
              padding: 5px 10px;
            }
          }

          &__item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid grey;
            padding: 20px 0;
            &:last-child {
              border: none;
            }
          }
        }
      }
    }

    .btn-tambah-produk {
      background-color: #fff;
      border-radius: none;
      border: 1px solid $gold-color;
      text-transform: uppercase;
      color: $primary-color;
      padding: 10px 30px;
      font-size: 14px;
      font-weight: 600;
      margin-top: 30px;
      outline: none;
      cursor: pointer;
      display: none;
    }

    .btn-upload-struk {
      width: 50%;
      margin-top: 50px;
      padding: 10px 0;
    }
  }
}
